/*------------- FOOTER MOBIL/TABLET - START -------------*/

footer {
    background-color: #C8C8C8;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 1fr 1f 1fr 1fr 66px;
    grid-template-areas:
        "menu_footer"
        "kontakt_footer"
        "sociale_medier_footer"
        "udstillinger_footer"
        "sprog_search_citat_footer"
        "copyright_footer"
    ;
    grid-gap: 30px;
    padding-top: 30px;
}

.menu_footer p,
.kontakt_footer p,
.sociale_medier_footer p,
.udstillinger_footer p {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
}

.menu_footer a,
.kontakt_footer a,
.sociale_medier_footer a,
.udstillinger_footer a {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: black;
    display: inline-block;
    margin-top: 10px;
    font-weight: 300;
}

.menu_footer {
    grid-area: menu_footer;
    text-align: center;
}

.kontakt_footer {
    grid-area: kontakt_footer;
    display: inline-block;
    text-align: center;
}

.sociale_medier_footer {
    grid-area: sociale_medier_footer;
    text-align: center;
}

.udstillinger_footer {
    grid-area: udstillinger_footer;
    text-align: center;
}

.sprog_search_citat_footer {
    grid-area: sprog_search_citat_footer;
    font-family: "Lato", sans-serif;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "engelsk_flag"
        "search_ikon"
        "citat_footer"
        "logo_footer"
    ;
}

.engelsk_flag {
    grid-area: engelsk_flag;
    width: 31px;
    height: 20px;
    display: grid;
    justify-self: center;
    align-self: center;
}

.search_ikon_footer {
    grid-area: search_ikon;
    width: 30px;
    height: 27px;
    display: grid;
    justify-self: center;
    align-self: center;
}

.sprog_search_citat_footer p {
    grid-area: citat_footer;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    display: grid;
    justify-self: center;
    align-self: center;
}

.logo_footer {
    grid-area: logo_footer;
    width: 152px;
    height: 32px;
    display: grid;
    justify-self: center;
    align-self: center;
    margin-bottom: 10px;
}

.copyright_footer {
    grid-area: copyright_footer;
    background-color: #B8B8B8;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    width: 100%;
}

@media only screen and (min-width: 1280px) {

    footer {
        padding-top: 50px;
        background-color: #C8C8C8;
        height: 372px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 1fr 1fr 66px;
        grid-template-areas:
            ". menu_footer kontakt_footer sociale_medier_footer udstillinger_footer sprog_search_citat_footer . "
            ". menu_footer kontakt_footer sociale_medier_footer udstillinger_footer sprog_search_citat_footer . "
            "copyright_footer copyright_footer copyright_footer copyright_footer copyright_footer copyright_footer copyright_footer "
        ;
    }

    .menu_footer p,
    .kontakt_footer p,
    .sociale_medier_footer p,
    .udstillinger_footer p {
        font-family: "Playfair Display", serif;
        font-size: 18px;
        text-transform: uppercase;
    }

    .menu_footer a,
    .kontakt_footer a,
    .sociale_medier_footer a,
    .udstillinger_footer a {
        font-family: "Lato", sans-serif;
        font-size: 16px;
        text-decoration: none;
        color: black;
        display: inline-block;
        margin-top: 10px;
        font-weight: 300;
    }

    .menu_footer {
        grid-area: menu_footer;
        display: inline-block;
        text-align: left;
    }

    .kontakt_footer {
        grid-area: kontakt_footer;
        text-align: left;
    }

    .sociale_medier_footer {
        grid-area: sociale_medier_footer;
        text-align: left;
    }

    .udstillinger_footer {
        grid-area: udstillinger_footer;
        text-align: left;
    }

    .sprog_search_citat_footer {
        grid-area: sprog_search_citat_footer;
        font-family: "Lato", sans-serif;
        display: grid;
        align-items: center;
    }

    .engelsk_flag {
        width: 31px;
        height: 20px;
        display: grid;
        justify-self: end;
        margin-right: 20px;
    }

    .search_ikon_footer {
        width: 30px;
        height: 27px;
        display: grid;
        justify-self: end;
        margin-right: 20px;
        margin-top: -20px;
    }

    .sprog_search_citat_footer p {
        font-family: "Lato", sans-serif;
        font-size: 14px;
        font-style: italic;
        font-weight: 300;
        justify-self: start;
        text-align: right;
        display: grid;
        width: 100%;
    }

    .logo_footer {
        width: 152px;
        height: 32px;
        display: grid;
        justify-self: end;
        margin-top: -40px;
    }

    .copyright_footer {
        grid-area: copyright_footer;
        background-color: #B8B8B8;
        font-family: "Lato", sans-serif;
        font-size: 14px;
        display: grid;
        align-items: center;
        justify-content: space-evenly;
    }
}
