/*-------------- FOOTER - START --------------*/


footer {

    display: none;
}


/*.content {


    display: none;
}*/



/*
.content {

    display: flex;
    height: 180px;
    justify-content: center;
    font-family: "Playfair Display", serif;
    font-size: 40px;
    background-color: rgb(0, 0, 0, 0.5);
    text-align: center;
    color: white;
    padding-top: 50px;
    font-family: "Lato", sans-serif;
    font-weight: 200;

}



.click-scroll {
    display: none;
}

    .mirror,
    .mirror2 {

        transform: scale(-1, 1);

    }

    .name_splash,
    .name_splash span {

        display: inline-flex;
        justify-content: center;

    }*/

@media only screen and (min-width: 1280px) {

/*    .content {

        display: flex;
        height: 94vh;
        justify-content: center;
        font-family: "Playfair Display", serif;
        font-size: 10em;
        background-color: rgb(0, 0, 0, 0.6);
        text-align: center;
        color: white;
        padding-top: 22vh;
        font-family: "Lato", sans-serif;
        font-weight: 200;

    }

    .content p {

        margin: 0;
    }

    .click-scroll {

        display: grid;
        position: absolute;
        bottom: 4%;
        height: 500px;
    }

    .scroll-down p {

        position: absolute;
        bottom: 5%;
        margin: 0;
        color: #9d9d9d;
        opacity: 0.9;
        text-decoration: none;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 400;
        left: 50%;
        margin-left: -25px;
        transition: .2s ease-in-out;
    }

    .click-scroll:hover span {

        border-left: 1.4px solid rgb(255, 228, 196, 0.6);
        border-bottom: 1.4px solid rgb(255, 228, 196, 0.6);

    }

    .click-scroll:hover p {

        color: #9d9d9d;
        opacity: 0.6;

    }

    .content a {

        text-decoration: none;
    }

    .scroll-down span {

        position: absolute;
        bottom: 20%;
        left: 50%;
        width: 24px;
        height: 24px;
        width: 48px;
        height: 48px;
        margin-left: -12px;
        border-left: 1.4px solid rgb(221, 221, 221, 0.8);
        border-bottom: 1.4px solid rgb(221, 221, 221, 0.8);
        -webkit-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg);
        -webkit-animation: spin 1.5s infinite;
        animation: spin 1.5s infinite;
        box-sizing: border-box;
        transition: .2s ease-in-out;
    }

    @-webkit-keyframes spin {
        0% {

            -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
            opacity: 0;
        }

        50% {

            opacity: 1;
        }

        100% {

            -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
            opacity: 0;
        }
    }

    @keyframes spin {
        0% {

            transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
            opacity: 0;
        }

        50% {

            opacity: 1;
        }

        100% {

            transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
            opacity: 0;
        }
    }


    .mirror,
    .mirror2 {

        transform: scale(-1, 1);

    }

    .name_splash,
    .name_splash span {


        display: inline-flex;
        justify-content: center;


    }*/

    footer {

        background-color: #C8C8C8;
        height: 372px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 1fr 1fr 66px;
        grid-template-areas:

            ". menu_footer kontakt_footer sociale_medier_footer udstillinger_footer sprog_search_citat_footer . "
            ". menu_footer kontakt_footer sociale_medier_footer udstillinger_footer sprog_search_citat_footer . "
            "copyright_footer copyright_footer copyright_footer copyright_footer copyright_footer copyright_footer copyright_footer "
        ;

    }

    .menu_footer p,
    .kontakt_footer p,
    .sociale_medier_footer p,
    .udstillinger_footer p {

        font-family: "Playfair Display", serif;
        font-size: 20px;
        text-transform: uppercase;

    }

    .menu_footer a,
    .kontakt_footer a,
    .sociale_medier_footer a,
    .udstillinger_footer a {

        font-family: "Lato", sans-serif;
        font-size: 18px;
        text-decoration: none;
        color: black;
        display: inline-block;
        margin-top: 10px;
        font-weight: 300;

    }

    .menu_footer {

        grid-area: menu_footer;
        display: inline-block;

    }

    .kontakt_footer {

        grid-area: kontakt_footer;

    }

    .sociale_medier_footer {

        grid-area: sociale_medier_footer;

    }

    .udstillinger_footer {

        grid-area: udstillinger_footer;

    }

    .sprog_search_citat_footer {

        grid-area: sprog_search_citat_footer;
        font-family: "Lato", sans-serif;
        display: grid;
        align-items: center;

    }

    .sprog_search_citat_footer p {

        font-family: "Lato", sans-serif;
        font-size: 16px;
        font-style: italic;
        font-weight: 300;
        justify-self: end;


    }

    .engelsk_flag {

        width: 31px;
        height: 20px;
        display: grid;
        justify-self: end;
        margin-right: 20px;

    }

    .search_ikon_footer {

        width: 30px;
        height: 27px;
        display: grid;
        justify-self: end;
        margin-right: 20px;
        margin-top: -20px;

    }

    .logo_footer {

        width: 152px;
        height: 32px;
        display: grid;
        justify-self: end;
        margin-top: -50px;

    }

    .copyright_footer {

        grid-area: copyright_footer;
        background-color: #B8B8B8;
        font-family: "Lato", sans-serif;
        font-size: 14px;
        display: grid;
        align-items: center;
        justify-content: space-evenly;

    }

}
