* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(../IMG-Bank/Images/galleri/galleri_andreas_splash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
    height: 500px;
}

.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 30vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: "Playfair Display", serif;
    font-size: 3em;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    color: white;
    padding-top: 10vh;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: 200;
}

#galleri_container {
    background-color: #E5E5E5;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px 100px 1fr;
    grid-template-rows: 100px 100px 1fr;
    grid-template-areas:
        "display"
        "filter_knapper"
        "indhold"
    ;
    /*  padding-left: 30px;
    padding-right: 30px;
    grid-gap: 20px;*/
    /*  height: 600px;*/
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 100px;
}

.display {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: display;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-grid-columns: .8fr .5fr .8fr;
    grid-template-columns: .8fr .5fr .8fr;
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
        "line1_galleri galleri_display line2_galleri"
    ;
    margin-top: 30px;
    margin-bottom: 35px;
    padding-left: 10px;
    padding-right: 10px;
}

.line1_galleri {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: line1_galleri;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-grid-row-align: center;
    align-self: center;
    color: black;
    background-color: black;
    height: 1.5px;
    width: 100%;
    border: none;
}

.line2_galleri {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: line2_galleri;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-grid-row-align: center;
    align-self: center;
    color: black;
    background-color: black;
    height: 1.5px;
    width: 100%;
    border: none;
}

.galleri_display {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: galleri_display;
    display: -ms-grid;
    display: grid;
    font-size: 5vw;
    font-weight: 300;
    font-family: "Playfair Display", serif;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#filtrerings_knapper {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    display: -ms-grid;
    display: grid;
    grid-area: filter_knapper;
    -ms-grid-columns: 1fr 1fr .1fr;
    grid-template-columns: 1fr 1fr .1fr;
    -ms-flex-line-pack: center;
    align-content: center;
    font-family: "Playfair Display", serif;
    padding: 2px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.menu-item {
    border: none;
    margin: 7px;
    background: transparent;
    font-size: 4.5vw;
    padding: 10px;
    color: black;
    font-family: "PLayfair Display", serif;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    -webkit-text-decoration-color: transparent;
    text-decoration-color: transparent;
    width: 100%;
    -webkit-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
}

.menu-item:hover {
    color: #656565;
    cursor: pointer;
    text-decoration: underline;
    -webkit-text-decoration-color: #ffc47f;
    text-decoration-color: #ffc47f;
    width: 100%;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    margin-top: -5px;
}

#indhold {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    display: -ms-grid;
    display: grid;
    grid-area: indhold;
}

.data-container {
    display: -ms-grid;
    display: grid;
    grid-area: data_container;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    margin: 0 auto;
    grid-gap: 10px;
}

.data-container article img {
    width: 100%;
    display: -ms-grid;
    display: grid;
}

.post-container {
    padding: 1em;
    -ms-grid-row-span: 1;
    grid-row: span 1;
}

.vaerk {
    display: -ms-grid;
    display: grid;
    z-index: 50;
    background-color: white;
    padding-top: 35px;
    padding-bottom: 20px;
    overflow: visible;
    width: 80%;
    height: 180px;
    margin-left: 10%;
    margin-top: -10%;
    z-index: 90;
    position: relative;
}

.titel {
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
    font-size: 16px;
    overflow: visible;
    margin: 0;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.size {
    font-family: "Lato", serif;
    font-size: 14px;
    margin: 0;
    text-align: center;
    color: #848282;
    height: 20px;
    margin-top: 15px;
}

.more {
    font-family: "Playfair Display", sans-serif;
    font-size: 16px;
    text-decoration: underline;
    text-align: center;
    -webkit-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
    -webkit-text-decoration-skip: none;
    text-decoration-skip: none;
    margin-top: 10px;
}

.more:hover {
    color: #242323;
    cursor: pointer;
    -webkit-text-decoration-color: #ffc47f;
    text-decoration-color: #ffc47f;
}

#modal {
    display: -ms-grid;
    display: grid;
    position: fixed;
    text-align: center;
    pointer-events: none;
    overflow: scroll;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 0;
    height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, .7);
    opacity: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    margin-left: -30px;
    margin-right: -30px;
    padding-bottom: 0px;
    z-index: 100;
}

#modal-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: .1fr 1fr .2fr .1fr .5fr 2fr;
    grid-template-rows: .1fr 1fr .2fr .1fr .5fr 2fr;
    grid-template-areas:
        ". x"
        "modal_img modal_img"
        "navn navn"
        "size size"
        "digt digt"
        "links links"
    ;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-grid-column-align: center;
    justify-self: center;
    background-color: rgba(250, 250, 250, 1);
    height: 550px;
    width: 90%;
    border-radius: 4px;
    margin: auto;
    overflow: hidden;
    -ms-grid-row-align: center;
    align-self: center;
    justify-self: center;
}

#modal.vis {
    opacity: 1;
    pointer-events: all;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.modal-billede {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    height: 250px;
    width: auto;
    -ms-grid-column-align: center;
    justify-self: center;
    grid-area: modal_img;
}

.modal-navn {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: navn;
    display: -ms-grid;
    display: grid;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-weight: 300;
    font-size: 24px;
    z-index: 90;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
}

.modal_size {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    margin-top: 0;
    grid-area: size;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    display: -ms-grid;
    display: grid;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
}

.digt {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: digt;
    display: -ms-grid;
    display: grid;
    font-family: "Lato", sans-serif;
    text-align: left;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 300;
    margin-left: 10%;
    margin-right: 10%;
    color: black;
    align-self: flex-start;
    -ms-grid-column-align: center;
    justify-self: center;
    margin-top: 10px;
}

.modal_sociale_links {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: links;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    ;
    text-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-family: "Lato", sans-serif;
    font-size: 10px;
    font-weight: 300;
    margin-top: 0px;
    padding-bottom: 10px;
    color: black;
}

.modal_sociale_links p {
    display: -ms-grid;
    display: grid;
    -ms-grid-row-align: center;
    align-self: center;
    margin-bottom: 0;
    margin: 0;
    color: black;
}

.modal_sociale_links a {
    text-decoration: none;
    -webkit-text-decoration-color: black;
    text-decoration-color: black;
}

#modal button {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    margin-top: 10px;
    display: -ms-grid;
    display: grid;
    grid-area: x;
    text-align: right;
    margin-right: 10px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    border: none;
    color: black;
    background-color: transparent;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 20px;
}

/*.maleri img {
    width 356px;
    height: 356px;
}*/
@media only screen and (min-width: 750px) {
    .content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 30vh;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-family: "Playfair Display", serif;
        font-size: 5em;
        background-color: rgba(0, 0, 0, 0.6);
        text-align: center;
        color: white;
        padding-top: 8vh;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        font-weight: 200;
    }

    #galleri_container {
        background-color: #E5E5E5;
        display: -ms-grid;
        display: grid;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -ms-grid-row-align: center;
        align-self: center;
        -ms-grid-columns: .5fr 1fr .5fr;
        grid-template-columns: .5fr 1fr .5fr;
        -ms-grid-rows: 100px .1fr 1fr;
        grid-template-rows: 100px .1fr 1fr;
        grid-template-areas:
            "display display display"
            ". filter_knapper ."
            "indhold indhold indhold"
        ;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 100px;
    }

    .display {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-area: display;
        display: -ms-grid;
        display: grid;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-grid-columns: 1fr .5fr 1fr;
        grid-template-columns: 1fr .5fr 1fr;
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas:
            "line1_galleri galleri_display line2_galleri"
        ;
        margin-top: 60px;
        margin-bottom: 50px;
    }

    .line1_galleri {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-area: line1_galleri;
        display: -ms-grid;
        display: grid;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-grid-row-align: center;
        align-self: center;
        color: black;
        background-color: black;
        height: 1.5px;
        width: 100%;
        border: none;
    }

    .line2_galleri {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
        grid-area: line2_galleri;
        display: -ms-grid;
        display: grid;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-grid-row-align: center;
        align-self: center;
        color: black;
        background-color: black;
        height: 1.5px;
        width: 100%;
        border: none;
    }

    .galleri_display {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
        grid-area: galleri_display;
        display: -ms-grid;
        display: grid;
        font-size: 24px;
        font-size: 35px;
        font-weight: 300;
        font-family: "Playfair Display", serif;
        margin-top: 0;
        margin-bottom: 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    #filtrerings_knapper {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        display: -ms-grid;
        display: grid;
        grid-area: filter_knapper;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        -ms-flex-line-pack: center;
        align-content: center;
        font-family: "Playfair Display", serif;
        padding: 12px;
        margin-bottom: 50px;
        margin-left: 60px;
        margin-right: 60px;
        text-align: center;
    }

    .menu-item {
        border: none;
        margin: 7px;
        background: transparent;
        font-size: 24px;
        padding: 10px;
        color: black;
        font-family: "PLayfair Display", serif;
        font-weight: 400;
        cursor: pointer;
        text-decoration: underline;
        -webkit-text-decoration-color: transparent;
        text-decoration-color: transparent;
        width: 100%;
        -webkit-transition: .4s ease;
        -o-transition: .4s ease;
        transition: .4s ease;
    }

    .menu-item:hover {
        color: #656565;
        cursor: pointer;
        text-decoration: underline;
        -webkit-text-decoration-color: #ffc47f;
        text-decoration-color: #ffc47f;
        width: 100%;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        margin-top: -5px;
    }

    #indhold {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        display: -ms-grid;
        display: grid;
        grid-area: indhold;
    }

    .data-container {
        display: -ms-grid;
        display: grid;
        grid-area: data_container;
        -ms-grid-columns: 1fr 10px 1fr;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        grid-gap: 10px;
    }

    .data-container article img {
        width: 100%;
        display: -ms-grid;
        display: grid;
    }

    .post-container {
        padding: 1em;
        -ms-grid-row-span: 1;
        grid-row: span 1;
    }

    .vaerk {
        display: -ms-grid;
        display: grid;
        z-index: 50;
        background-color: white;
        padding-top: 35px;
        padding-bottom: 20px;
        overflow: visible;
        width: 80%;
        height: 180px;
        margin-left: 10%;
        margin-top: -10%;
        z-index: 90;
        position: relative;
    }

    .titel {
        font-family: "Playfair Display", sans-serif;
        font-weight: 400;
        font-size: 20px;
        overflow: visible;
        margin: 0;
        width: 80%;
        margin-left: 10%;
        text-align: center;
        display: -ms-grid;
        display: grid;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .size {
        font-family: "Lato", serif;
        font-size: 14px;
        margin: 0;
        text-align: center;
        color: #848282;
        height: 20px;
        margin-top: 15px;
    }

    .more {
        font-family: "Playfair Display", sans-serif;
        font-size: 16px;
        text-decoration: underline;
        text-align: center;
        -webkit-transition: .4s ease;
        -o-transition: .4s ease;
        transition: .4s ease;
        -webkit-text-decoration-skip: none;
        text-decoration-skip: none;
        margin-top: 10px;
    }

    .more:hover {
        color: #242323;
        cursor: pointer;
        -webkit-text-decoration-color: #ffc47f;
        text-decoration-color: #ffc47f;
    }

    #modal {
        display: -ms-grid;
        display: grid;
        position: fixed;
        text-align: center;
        pointer-events: none;
        overflow: scroll;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        top: 0;
        height: 100%;
        width: 100vw;
        background-color: rgba(0, 0, 0, .7);
        opacity: 0;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
        margin-left: -30px;
        margin-right: -30px;
        padding-bottom: 0px;
        z-index: 100;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #modal-content {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: .1fr 1fr .2fr .1fr .5fr;
        grid-template-rows: .1fr 1fr .2fr .1fr .5fr;
        grid-template-areas:
            ". x"
            "modal_img modal_img"
            "navn navn"
            "size size"
            "digt links"
        ;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-grid-column-align: center;
        justify-self: center;
        background-color: rgba(250, 250, 250, 1);
        height: 800px;
        width: 60%;
        border-radius: 4px;
        margin: auto;
        overflow: hidden;
        -ms-grid-row-align: center;
        align-self: center;
        justify-self: center;
    }

    #modal.vis {
        opacity: 1;
        pointer-events: all;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }

    .modal-billede {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        height: 400px;
        width: auto;
        -ms-grid-column-align: center;
        justify-self: center;
        grid-area: modal_img;
    }

    .modal-navn {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-area: navn;
        display: -ms-grid;
        display: grid;
        text-align: center;
        font-family: "Playfair Display", serif;
        font-weight: 300;
        font-size: 34px;
        z-index: 90;
        color: black;
        margin-top: 10px;
        margin-bottom: 10px;
        -ms-grid-row-align: center;
        align-self: center;
        -ms-grid-column-align: center;
        justify-self: center;
    }

    .modal_size {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        margin-top: 0;
        grid-area: size;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        display: -ms-grid;
        display: grid;
        -ms-grid-row-align: center;
        align-self: center;
        -ms-grid-column-align: center;
        justify-self: center;
    }

    .digt {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-area: digt;
        display: -ms-grid;
        display: grid;
        font-family: "Lato", sans-serif;
        text-align: left;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 14px;
        font-weight: 300;
        margin-left: 20%;
        color: black;
        align-self: flex-start;
        -ms-grid-column-align: center;
        justify-self: center;
        margin-top: 20px;
    }

    .modal_sociale_links {
        -ms-grid-row: 6;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-area: links;
        display: -ms-grid;
        display: grid;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: left;
        align-self: flex-start;
        justify-self: flex-start;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        font-family: "Lato", sans-serif;
        font-size: 14px;
        font-weight: 300;
        margin-top: 20px;
        margin-left: 30%;
        color: black;
    }

    .modal_sociale_links p {
        display: -ms-grid;
        display: grid;
        -ms-grid-row-align: center;
        align-self: center;
        margin-bottom: 0;
        margin: 0;
    }

    #modal button {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
        margin-top: 10px;
        display: -ms-grid;
        display: grid;
        grid-area: x;
        text-align: right;
        margin-right: 20px;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        border: none;
        color: black;
        background-color: transparent;
        font-family: "Lato", sans-serif;
        font-weight: 300;
        font-size: 30px;
    }

    .display {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .line1_galleri {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .line2_galleri {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .galleri_display {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    #filtrerings_knapper {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }

    #indhold {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .modal-billede {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .modal-navn {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .modal_size {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .digt {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .modal_sociale_links {
        -ms-grid-row: 5;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
    }

    #modal button {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
}

/*    .maleri img {
        width 356px;
        height: 356px;
    }
}*/
@media only screen and (min-width: 1080px) {
    .content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 30vh;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-family: "Playfair Display", serif;
        font-size: 5em;
        background-color: rgba(0, 0, 0, 0.6);
        text-align: center;
        color: white;
        padding-top: 8vh;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        font-weight: 200;
    }

    #galleri_container {
        background-color: #E5E5E5;
        display: -ms-grid;
        display: grid;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -ms-grid-row-align: center;
        align-self: center;
        -ms-grid-columns: .5fr 1fr .5fr;
        grid-template-columns: .5fr 1fr .5fr;
        -ms-grid-rows: .1fr .1fr 1fr;
        grid-template-rows: .1fr .1fr 1fr;
        grid-template-areas:
            "display display display"
            ". filter_knapper ."
            "indhold indhold indhold"
        ;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 100px;
    }

    .display {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-area: display;
        display: -ms-grid;
        display: grid;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-grid-columns: 1fr .5fr 1fr;
        grid-template-columns: 1fr .5fr 1fr;
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas:
            "line1_galleri galleri_display line2_galleri"
        ;
        margin-top: 60px;
        margin-bottom: 50px;
    }

    .line1_galleri {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-area: line1_galleri;
        display: -ms-grid;
        display: grid;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-grid-row-align: center;
        align-self: center;
        color: #020202;
        background-color: black;
        height: 1.5px;
        width: 100%;
        border: none;
    }

    .line2_galleri {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
        grid-area: line2_galleri;
        display: -ms-grid;
        display: grid;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-grid-row-align: center;
        align-self: center;
        color: #020202;
        background-color: black;
        height: 1.5px;
        width: 100%;
        border: none;
    }

    .galleri_display {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
        grid-area: galleri_display;
        display: -ms-grid;
        display: grid;
        font-size: 24px;
        font-size: 35px;
        font-weight: 300;
        font-family: "Playfair Display", serif;
        margin-top: 0;
        margin-bottom: 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    #filtrerings_knapper {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        display: -ms-grid;
        display: grid;
        grid-area: filter_knapper;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        -ms-flex-line-pack: center;
        align-content: center;
        font-family: "Playfair Display", serif;
        padding: 12px;
        margin-bottom: 50px;
        margin-left: 60px;
        margin-right: 60px;
        text-align: center;
    }

    .menu-item {
        border: none;
        margin: 7px;
        background: transparent;
        font-size: 24px;
        padding: 10px;
        color: black;
        font-family: "PLayfair Display", serif;
        font-weight: 400;
        cursor: pointer;
        text-decoration: underline;
        -webkit-text-decoration-color: transparent;
        text-decoration-color: transparent;
        width: 100%;
        -webkit-transition: .4s ease;
        -o-transition: .4s ease;
        transition: .4s ease;
    }

    .menu-item:hover {
        color: #656565;
        cursor: pointer;
        text-decoration: underline;
        -webkit-text-decoration-color: #ffc47f;
        text-decoration-color: #ffc47f;
        width: 100%;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        margin-top: -5px;
    }

    #indhold {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        display: -ms-grid;
        display: grid;
        grid-area: indhold;
    }

    .data-container {
        display: -ms-grid;
        display: grid;
        grid-area: data_container;
        -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 auto;
        grid-gap: 10px;
    }

    .data-container article img {
        width: 100%;
        display: -ms-grid;
        display: grid;
    }

    .post-container {
        padding: 1em;
        -ms-grid-row-span: 1;
        grid-row: span 1;
    }

    .vaerk {
        display: -ms-grid;
        display: grid;
        position: relative;
        overflow: visible;
        z-index: 50;
        background-color: white;
        padding-top: 35px;
        padding-bottom: 20px;
        width: 80%;
        height: 180px;
        margin-left: 10%;
        margin-top: -10%;
        z-index: 90;
    }

    .titel {
        font-family: "Playfair Display", sans-serif;
        font-weight: 400;
        font-size: 20px;
        overflow: visible;
        margin: 0;
        width: 80%;
        margin-left: 10%;
        text-align: center;
        display: -ms-grid;
        display: grid;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .size {
        font-family: "Lato", serif;
        font-size: 14px;
        margin: 0;
        text-align: center;
        color: #848282;
        height: 20px;
        margin-top: 15px;
    }

    .more {
        font-family: "Playfair Display", sans-serif;
        font-size: 16px;
        text-decoration: underline;
        text-align: center;
        -webkit-transition: .4s ease;
        -o-transition: .4s ease;
        transition: .4s ease;
        -webkit-text-decoration-skip: none;
        text-decoration-skip: none;
        margin-top: 10px;
    }

    .more:hover {
        color: #242323;
        cursor: pointer;
        -webkit-text-decoration-color: #ffc47f;
        text-decoration-color: #ffc47f;
    }

    #modal {
        display: -ms-grid;
        display: grid;
        position: fixed;
        text-align: center;
        pointer-events: none;
        overflow: scroll;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        top: 0;
        height: 100%;
        width: 100vw;
        background-color: rgba(0, 0, 0, .7);
        opacity: 0;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
        margin-left: -30px;
        margin-right: -30px;
        padding-bottom: 0px;
        z-index: 99;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #modal-content {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: .1fr 1fr .2fr .1fr .5fr;
        grid-template-rows: .1fr 1fr .2fr .1fr .5fr;
        grid-template-areas:
            ". x"
            "modal_img modal_img"
            "navn navn"
            "size size"
            "digt links"
        ;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-grid-column-align: center;
        justify-self: center;
        background-color: rgba(250, 250, 250, 1);
        height: 800px;
        width: 50%;
        border-radius: 4px;
        margin: auto;
        overflow: hidden;
        -ms-grid-row-align: center;
        align-self: center;
        justify-self: center;
        z-index: 100;
    }

    #modal.vis {
        opacity: 1;
        pointer-events: all;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }

    .modal-billede {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        height: 400px;
        width: auto;
        -ms-grid-column-align: center;
        justify-self: center;
        grid-area: modal_img;
    }

    .modal-navn {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-area: navn;
        display: -ms-grid;
        display: grid;
        text-align: center;
        font-family: "Playfair Display", serif;
        font-weight: 300;
        font-size: 34px;
        z-index: 90;
        color: black;
        margin-top: 10px;
        margin-bottom: 10px;
        -ms-grid-row-align: center;
        align-self: center;
        -ms-grid-column-align: center;
        justify-self: center;
    }

    .modal_size {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        margin-top: 0;
        grid-area: size;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        display: -ms-grid;
        display: grid;
        -ms-grid-row-align: center;
        align-self: center;
        -ms-grid-column-align: center;
        justify-self: center;
    }

    .digt {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-area: digt;
        display: -ms-grid;
        display: grid;
        font-family: "Lato", sans-serif;
        text-align: left;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 15px;
        font-weight: 300;
        margin-left: 20%;
        color: black;
        align-self: flex-start;
        -ms-grid-column-align: center;
        justify-self: center;
        margin-top: 20px;
    }

    .modal_sociale_links {
        -ms-grid-row: 6;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-area: links;
        display: -ms-grid;
        display: grid;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: left;
        align-self: flex-start;
        justify-self: flex-start;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        font-family: "Lato", sans-serif;
        font-size: 15px;
        font-weight: 300;
        margin-top: 20px;
        margin-left: 30%;
        color: black;
    }

    .modal_sociale_links p {
        display: -ms-grid;
        display: grid;
        -ms-grid-row-align: center;
        align-self: center;
        margin-bottom: 0;
        margin: 0;
        padding-bottom: 5px;
        cursor: pointer;
    }

    #modal button {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
        margin-top: 10px;
        display: -ms-grid;
        display: grid;
        grid-area: x;
        text-align: right;
        margin-right: 20px;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        border: none;
        color: black;
        background-color: transparent;
        font-family: "Lato", sans-serif;
        font-weight: 300;
        font-size: 20px;
        cursor: pointer;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
    }

    #modal button:hover {
        opacity: 0.8;
        color: grey;
    }

    .display {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .line1_galleri {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .line2_galleri {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .galleri_display {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    #filtrerings_knapper {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }

    #indhold {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .modal-billede {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .modal-navn {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .modal_size {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .digt {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .modal_sociale_links {
        -ms-grid-row: 5;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
    }

    #modal button {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    .display {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .line1_galleri {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .line2_galleri {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .galleri_display {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    #filtrerings_knapper {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }

    #indhold {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .modal-billede {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .modal-navn {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .modal_size {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .digt {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .modal_sociale_links {
        -ms-grid-row: 5;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
    }

    #modal button {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
}

@media only screen and (min-width: 750px) {
    .modal-billede {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .modal-navn {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .modal_size {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .digt {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .modal_sociale_links {
        -ms-grid-row: 5;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
    }

    #modal button {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    .modal-billede {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .modal-navn {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .modal_size {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .digt {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .modal_sociale_links {
        -ms-grid-row: 5;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
    }

    #modal button {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
}

@media only screen and (min-width: 1080px) {
    .modal-billede {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .modal-navn {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .modal_size {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .digt {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .modal_sociale_links {
        -ms-grid-row: 5;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
    }

    #modal button {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
}

@media only screen and (min-width: 750px) {
    .line1_galleri {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .line2_galleri {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .galleri_display {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    .line1_galleri {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .line2_galleri {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .galleri_display {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
}

@media only screen and (min-width: 1080px) {
    .line1_galleri {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .line2_galleri {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .galleri_display {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
}

@media only screen and (min-width: 750px) {
    .display {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    #filtrerings_knapper {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }

    #indhold {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .display {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    #filtrerings_knapper {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }

    #indhold {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
}

@media only screen and (min-width: 1080px) {
    .display {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    #filtrerings_knapper {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }

    #indhold {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
}

/*  .maleri img {
        width 356px;
        height: 356px;
    }*/
