* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(../IMG-Bank/Images/kontakt/Kontakt_Splash.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-color: black;
}



@media only screen and (max-width: 1029px) {
    #kontakt_container {
        background-color: #E5E5E5;
        display: grid;
        justify-content: center;
        align-content: center;
        align-self: center;
        grid-template-columns: 1fr;
        grid-template-rows: .3fr 300px 1fr 300px;
        grid-template-areas:
            "display"
            "kontakt_info"
            "kontakt_formular"
            "maps"
        ;
        /*  padding-left: 30px;
    padding-right: 30px;
    grid-gap: 20px;*/
        padding-bottom: 100px;
        /*  height: 600px;*/
        padding-left: 30px;
        padding-right: 30px;
    }

    .display {
        grid-area: display;
        display: grid;
        align-items: center;
        grid-template-columns: .8fr 1fr .8fr;
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas:
            "line1_kontakt kontakt_display line2_kontakt"
        ;
        margin-top: 30px;
        margin-bottom: 35px;
    }

    .line1_kontakt {
        grid-area: line1_kontakt;
        display: grid;
        justify-content: center;
        align-self: center;
        color: black;
        background-color: black;
        height: 1.5px;
        width: 100%;
        border: none;
    }

    .line2_kontakt {
        grid-area: line2_kontakt;
        display: grid;
        justify-content: center;
        align-self: center;
        color: black;
        background-color: black;
        height: 1.5px;
        width: 100%;
        border: none;
    }

    .kontakt_display {
        grid-area: kontakt_display;
        display: grid;
        font-size: 5vw;
        font-weight: 300;
        font-family: "Playfair Display", serif;
        margin-top: 0;
        margin-bottom: 0;
        justify-content: center;
        align-items: center;
    }

    .kontakt_info {
        grid-area: kontakt_info;
        display: grid;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: green;
        background-color: #C8C8C8;
        font-family: "Lato", sans-serif;
        font-weight: 300;
        padding-left: 30px;
        padding-right: 30px;
        height: 300px;
        font-size: 20px;
        background-image: url(../IMG-Bank/Images/kontakt/kontaktinfo_baggrund.png);
        color: white;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .firma {
        text-transform: uppercase;
        font-size: 22px;
        margin-top: 10px;
        color: white;
        font-weight: 300;
    }

    .kontakt_info a {
        text-decoration: none;
        color: white;
    }

    .sociale_medier_kontakt {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "facebook instagram"
        ;
        grid-gap: 40px;
        padding-top: 20px;
    }

    .facebook {
        grid-area: facebook;
        justify-self: flex-end;
        width: 15%;
    }

    .instagram {
        grid-area: instagram;
        justify-self: flex-start;
        width: 15%;
    }

    .facebook img,
    .instagram img {
        width: 100%;
    }

    .kontakt_txt {
        margin-top: 10px;
        font-size: 16px;
    }

    .kontakt_formular {
        display: grid;
        grid-area: kontakt_formular;
        justify-content: center;
        background-color: white;
        background-color: #C8C8C8;
        /*margin-top: -150px;*/
        background-image: url(../IMG-Bank/Images/kontakt/kontakformular_baggrund.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 50px;
    }

    .kontakt_formular input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid white;
        width: 80%;
        margin-left: 10px;
        color: white;
        font-size: 14px;
        margin-left: 0;
        margin-left: 10px;
    }

    .kontakt_formular h2 {
        color: white;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        font-weight: 300;
        display: grid;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .kontakt_formular h3 {
        padding-bottom: 5px;
        padding-top: 10px;
        color: white;
        margin-left: 10px;
        font-family: "Lato", sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 300;
    }

    textarea {
        background-color: rgba(255, 255, 255, 0.9);
        border: none;
        padding-top: 20px;
        padding-left: 15px;
        color: black;
        resize: none;
        height: 150px;
        margin-top: 30px;
        margin-bottom: 20px;
        font-family: "Lato", sans-serif;
        font-size: 15px;
        font-weight: 300;
        ;
    }

    button {
        justify-self: center;
        margin-top: 5%;
        margin-bottom: 10%;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 30%;
        padding-right: 30%;
        font-family: "Lato", sans-serif;
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        background-color: rgba(255, 255, 255, 0.9);
        border: none;
        color: black;
        cursor: pointer;
    }

    button:hover {
        cursor: pointer;
    }

    .kontaktformular::placeholder {
        color: white;
    }

    input::placeholder {
        color: rgba(255, 255, 255, 0.7);
    }

    .map {
        width: 100%;
        height: 100%;
        margin-top: 50px;
        height: 300px;
        grid-area: maps;
        justify-self: center;
        -webkit-filter: grayscale(50%);
        -moz-filter: grayscale(50%);
        -ms-filter: grayscale(50%);
        -o-filter: grayscale(50%);
        filter: grayscale(50%);
        border-width: 0px;
        border: none;


    }


    .content {

        height: 30vh;

        font-size: 3em;

        padding-top: 10vh;

    }

}

@media only screen and (min-width: 1030px) {
    .content {
        display: flex;
        height: 30vh;
        justify-content: center;
        font-family: "Playfair Display", serif;
        font-size: 5em;
        background-color: rgba(0, 0, 0, 0.6);
        text-align: center;
        color: white;
        padding-top: 8vh;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        font-weight: 200;
    }

    #kontakt_container {
        background-color: #E5E5E5;
        display: grid;
        justify-content: center;
        align-content: center;
        align-self: center;
        grid-template-columns: .5fr 1fr .5fr;
        grid-template-rows: .3fr 300px 1fr 300px;
        grid-template-areas:
            "display display display"
            ". kontakt_info ."
            ". kontakt_formular ."
            ". maps ."
        ;
        /*  padding-left: 30px;
    padding-right: 30px;
    grid-gap: 20px;*/
        padding-bottom: 100px;
        /*  height: 600px;*/
        padding-left: 30px;
        padding-right: 30px;
    }

    .display {
        grid-area: display;
        display: grid;
        align-items: center;
        grid-template-columns: .8fr .6fr .8fr;
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas:
            "line1_kontakt kontakt_display line2_kontakt"
        ;
        margin-top: 30px;
        margin-bottom: 35px;
    }

    .line1_kontakt {
        grid-area: line1_kontakt;
        display: grid;
        justify-content: center;
        align-self: center;
        color: black;
        background-color: black;
        height: 1.5px;
        width: 100%;
        border: none;
    }

    .line2_kontakt {
        grid-area: line2_kontakt;
        display: grid;
        justify-content: center;
        align-self: center;
        color: black;
        background-color: black;
        height: 1.5px;
        width: 100%;
        border: none;
    }

    .kontakt_display {
        grid-area: kontakt_display;
        display: grid;
        font-size: 2em;
        font-weight: 300;
        font-family: "Playfair Display", serif;
        margin-top: 0;
        margin-bottom: 0;
        justify-content: center;
        align-items: center;
    }

    .kontakt_info {
        grid-area: kontakt_info;
        display: grid;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: green;
        background-color: #C8C8C8;
        font-family: "Lato", sans-serif;
        font-weight: 300;
        padding-left: 30px;
        padding-right: 30px;
        height: 300px;
        font-size: 20px;
        background-image: url(../IMG-Bank/Images/kontakt/kontaktinfo_baggrund.png);
        color: white;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .firma {
        text-transform: uppercase;
        font-size: 22px;
        margin-top: 10px;
        color: white;
        font-weight: 300;
    }

    .kontakt_info a {
        text-decoration: none;
        color: white;
    }

    .sociale_medier_kontakt {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "facebook instagram"
        ;
        grid-gap: 40px;
    }

    .facebook {
        grid-area: facebook;
        justify-self: flex-end;
        width: 10%;
    }

    .instagram {
        grid-area: instagram;
        justify-self: flex-start;
        width: 10%;
    }

    .facebook img,
    .instagram img {
        width: 100%;
    }

    .kontakt_txt {
        margin-top: 0;
    }

    .kontakt_formular {
        display: grid;
        grid-area: kontakt_formular;
        justify-content: center;
        background-color: white;
        background-color: #C8C8C8;
        /*margin-top: -150px;*/
        background-image: url(../IMG-Bank/Images/kontakt/kontakformular_baggrund.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 50px;
    }

    .kontakt_formular input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid white;
        width: 100%;
        margin-left: 10px;
        color: white;
        font-size: 14px;
        margin-left: 0;
    }

    .kontakt_formular h2 {
        color: white;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        font-weight: 300;
        display: grid;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .kontakt_formular h3 {
        padding-bottom: 5px;
        padding-top: 10px;
        color: white;
        font-family: "Lato", sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 300;
    }

    textarea {
        background-color: rgba(255, 255, 255, 0.9);
        border: none;
        padding-top: 20px;
        padding-left: 15px;
        color: black;
        resize: none;
        width: 400px;
        height: 150px;
        margin-top: 30px;
        margin-bottom: 20px;
        font-family: "Lato", sans-serif;
        font-size: 15px;
        font-weight: 300;
        ;
    }

    button {
        justify-self: center;
        margin-top: 5%;
        margin-bottom: 10%;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 30%;
        padding-right: 30%;
        font-family: "Lato", sans-serif;
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        background-color: rgba(255, 255, 255, 0.9);
        border: none;
        color: black;
        cursor: pointer;
    }

    button:hover {
        cursor: pointer;
    }

    .kontaktformular::placeholder {
        color: white;
    }

    input::placeholder {
        color: rgba(255, 255, 255, 0.7);
    }

    .map {
        width: 100%;
        height: 100%;
        margin-top: 50px;
        height: 300px;
        grid-area: maps;
        justify-self: center;
        -webkit-filter: grayscale(50%);
        -moz-filter: grayscale(50%);
        -ms-filter: grayscale(50%);
        -o-filter: grayscale(50%);
        filter: grayscale(50%);
        border-width: 0px;
        border: none;
    }
}

@media only screen and (min-width: 1280px) {
    .content {
        display: flex;
        height: 30vh;
        justify-content: center;
        font-family: "Playfair Display", serif;
        font-size: 5em;
        background-color: rgba(0, 0, 0, 0.6);
        text-align: center;
        color: white;
        padding-top: 8vh;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        font-weight: 200;
    }

    #kontakt_container {
        background-color: #E5E5E5;
        display: grid;
        justify-content: center;
        align-content: center;
        align-self: center;
        grid-template-columns: .5fr 1fr .5fr;
        grid-template-rows: .3fr 300px 1fr 300px;
        grid-template-areas:
            "display display display"
            ". kontakt_info ."
            ". kontakt_formular ."
            ". maps ."
        ;
        /*  padding-left: 30px;
    padding-right: 30px;
    grid-gap: 20px;*/
        padding-bottom: 100px;
        /*  height: 600px;*/
        padding-left: 30px;
        padding-right: 30px;
    }

    .display {
        grid-area: display;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr .5fr 1fr;
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas:
            "line1_kontakt kontakt_display line2_kontakt"
        ;
        margin-top: 30px;
        margin-bottom: 35px;
    }

    .line1_kontakt {
        grid-area: line1_kontakt;
        display: grid;
        justify-content: center;
        align-self: center;
        color: black;
        background-color: black;
        height: 1.5px;
        width: 100%;
        border: none;
    }

    .line2_kontakt {
        grid-area: line2_kontakt;
        display: grid;
        justify-content: center;
        align-self: center;
        color: black;
        background-color: black;
        height: 1.5px;
        width: 100%;
        border: none;
    }

    .kontakt_display {
        grid-area: kontakt_display;
        display: grid;
        font-size: 24px;
        font-size: 35px;
        font-weight: 300;
        font-family: "Playfair Display", serif;
        margin-top: 0;
        margin-bottom: 0;
        justify-content: center;
        align-items: center;
    }

    .kontakt_info {
        grid-area: kontakt_info;
        display: grid;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: green;
        background-color: #C8C8C8;
        font-family: "Lato", sans-serif;
        font-weight: 300;
        padding-left: 30px;
        padding-right: 30px;
        height: 300px;
        font-size: 20px;
        background-image: url(../IMG-Bank/Images/kontakt/kontaktinfo_baggrund.png);
        color: white;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .firma {
        text-transform: uppercase;
        font-size: 22px;
        margin-top: 10px;
        color: white;
        font-weight: 300;
    }

    .kontakt_info a {
        text-decoration: none;
        color: white;
    }

    .sociale_medier_kontakt {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "facebook instagram"
        ;
        grid-gap: 40px;
    }

    .facebook {
        grid-area: facebook;
        justify-self: flex-end;
        width: 10%;
    }

    .instagram {
        grid-area: instagram;
        justify-self: flex-start;
        width: 10%;
    }

    .facebook img,
    .instagram img {
        width: 100%;
    }

    .kontakt_txt {
        margin-top: 0;
    }

    .kontakt_formular {
        display: grid;
        grid-area: kontakt_formular;
        justify-content: center;
        background-color: white;
        background-color: #C8C8C8;
        /*margin-top: -150px;*/
        background-image: url(../IMG-Bank/Images/kontakt/kontakformular_baggrund.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 50px;
    }

    .kontakt_formular input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid white;
        width: 100%;
        margin-left: 10px;
        color: white;
        font-size: 14px;
        margin-left: 0;
    }

    .kontakt_formular h2 {
        color: white;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        font-weight: 300;
        display: grid;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .kontakt_formular h3 {
        padding-bottom: 5px;
        padding-top: 10px;
        color: white;
        font-family: "Lato", sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 300;
    }

    textarea {
        background-color: rgba(255, 255, 255, 0.9);
        border: none;
        padding-top: 20px;
        padding-left: 15px;
        color: black;
        resize: none;
        width: 400px;
        height: 150px;
        margin-top: 30px;
        margin-bottom: 20px;
        font-family: "Lato", sans-serif;
        font-size: 15px;
        font-weight: 300;
        ;
    }

    button {
        justify-self: center;
        margin-top: 5%;
        margin-bottom: 10%;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 30%;
        padding-right: 30%;
        font-family: "Lato", sans-serif;
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        background-color: rgba(255, 255, 255, 0.9);
        border: none;
        color: black;
        cursor: pointer;
    }

    button:hover {
        cursor: pointer;
    }

    .kontaktformular::placeholder {
        color: white;
    }

    input::placeholder {
        color: rgba(255, 255, 255, 0.7);
    }

    .map {
        width: 100%;
        height: 100%;
        margin-top: 50px;
        height: 300px;
        grid-area: maps;
        justify-self: center;
        -webkit-filter: grayscale(50%);
        -moz-filter: grayscale(50%);
        -ms-filter: grayscale(50%);
        -o-filter: grayscale(50%);
        filter: grayscale(50%);
         border-width: 0px;
        border: none;
    }
}
