* {

    box-sizing: border-box;

}

body {

    margin: 0;
    background-color: #E5E5E5;

}

#nyeste_vaerker_container {

    background-color: #E5E5E5;
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: 100px 1fr 1fr .1fr;
    grid-template-areas:
        "display display display"
        "vaerk1 vaerk2 vaerk3"
        "vaerk1 vaerk2 vaerk3"
        "galleri_knap galleri_knap galleri_knap";
    padding-left: 30px;
    padding-right: 30px;
    border: solid black;
    height: 1000px;



}

.galleri_knap {
    display: grid;
    grid-area: galleri_knap;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: -150px;
    overflow: hidden;
     grid-template-columns: repeat (1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "klik"
        "galleriknap"
      ;

 /* border: solid black 1.5px;
    background-color: white;*/
    text-transform: uppercase;


    font-family: "Playfair Display", sans-serif;


}

.klik {
    font-size: .8em;
   grid-area: klik;
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    align-self: center;
    overflow: hidden;
    font-family: "Lato", sans-serif;


}

.galleri2 {
     font-size: 1.5em;
    grid-area: galleriknap;
    margin: 0;
    padding: 0;
     display: grid;
    justify-content: center;
    align-self: center;
    margin-top: -4px;
    overflow: hidden;
    border-bottom: solid transparent;
    transition: .3s;

}

/*.klik:hover ~ .galleri2 {
     border-bottom:  solid #e8c8a2;
    overflow: hidden;
    color: grey;


}*/


.galleri2:hover {
     border-bottom:  solid 1.5px #e8c8a2;
    overflow: hidden;
   color: grey;
    cursor: pointer;
}



/*
.arrow5 {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.right {
    margin-right: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
     margin-left: 20px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
*/

.display {

    grid-area: display;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:

        "line1 newest line2"

    ;
    margin-top: 30px;
    margin-bottom: 35px;

}

.line1 {

    grid-area: line1;
    display: grid;
    justify-content: center;
    align-self: center;
    color: black;
    background-color: black;
    height: 2px;
    width: 100%;
    border: none;

}

.newest {

    grid-area: newest;
    display: grid;
    justify-content: center;
    font-family: "Lato", sans-serif;
    font-family: "Playfair Display", serif;
    font-weight: 300;
    font-size: 35px;
    margin: 0;

}

.line2 {

    grid-area: line2;
    display: grid;
    justify-content: center;
    align-self: center;
    color: black;
    background-color: black;
    height: 2px;
    width: 100%;
    border: none;

}

.vaerk1_container {

    display: grid;
    grid-area: vaerk1;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:

        "img1 img1 img1"
        "img1 img1 img1"
        "box1 box1 ."
    ;

    margin-top: 30px;


}

.vaerk2_container {

    display: grid;
    grid-area: vaerk2;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:

        "img2 img2 img2"
        "img2 img2 img2"
        "box2 box2 ."
    ;
    margin-top: 30px;


}

.vaerk3_container {

    display: grid;
    grid-area: vaerk3;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:

        "img3 img3 img3"
        "img3 img3 img3"
        "box3 box3 ."
    ;

    margin-top: 30px;
}

.zoom {

    grid-area: img1;
    overflow: hidden;
    margin: 10px;
}

.zoom2 {

    grid-area: img2;
    overflow: hidden;
    margin: 10px;
}

.zoom3 {

    grid-area: img3;
    overflow: hidden;
    margin: 10px;

}



.malleri1,
.malleri2,
.malleri3 {

    width: 100%;
    transition: .5s ease-in-out;
    cursor: pointer;

}

.malleri1:hover,
.malleri2:hover,
.malleri3:hover {

    transform: scale(1.6) translate(-18%, 15%);

}

.malleri2:hover {

    transform: scale(1.6) translate(-15%, 14%);

}

.malleri1 {

    display: grid;
    grid-area: img1;

}

.malleri2 {

    display: grid;
    grid-area: img2;

}

.malleri3 {

    display: grid;
    grid-area: img3;

}

.vaerk1 {

    grid-area: box1;
    background-color: #fafafa;
    margin: 10px;
    margin-left: 40px;
    overflow: visible;
    width: 340px;
    height: 200px;
    display: grid;
    z-index: 10;
    margin-top: -50px;
    margin-bottom: -50px;

}

.vaerk2 {

    grid-area: box2;
    background-color: #fafafa;
    margin: 10px;
    margin-left: 40px;
    overflow: visible;
    width: 340px;
    height: 200px;
    display: grid;
    z-index: 10;
    margin-top: -50px;
    margin-bottom: -50px;

}

.vaerk3 {

    grid-area: box3;
    background-color: #fafafa;
    /* display: grid;*/
    margin: 10px;
    margin-left: 40px;
    overflow: visible;
    width: 340px;
    height: 200px;
    display: grid;
    z-index: 10;
    margin-top: -50px;
    margin-bottom: -50px;

}

.titel {

    font-family: "Playfair Display", sans-serif;
    font-size: 40px;
    overflow: visible;
    margin: 0;
    margin-top: 45px;
    margin-left: 20px;
    width: 110%;
    text-align: right;
}

.size {

    font-family: "Lato", serif;
    font-size: 14px;
    margin: 0;
    text-align: center;
    color: #848282;
    height: 20px;
    margin-top: 15px;

}

.more {

    font-family: "Playfair Display", sans-serif;
    font-size: 16px;
    text-decoration: underline;
    text-align: center;
    transition: .4s ease;
    text-decoration-skip: top;
    margin-top: 10px;

}

.more:hover {

    color: #242323;
    cursor: pointer;
    text-decoration-color: #ffc47f;

}

/*.arrow2 {

    display: grid;
    grid-area: arrow;
    margin-top: -50px;
    display: grid;
    justify-self: center;
    width: 40px;
    height: 40px;
    opacity: 0.6;
    cursor: pointer;
    background-image: url(/IMG-Bank/Svg/arrow_black.svg);
    background-size: contain;
}

.bounce2 {

    animation: bounce2 2s infinite;

}

@keyframes bounce2 {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}*/

#bag_om_vaekert_container {

    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: 100px 1fr;
    grid-template-areas:
        "display2 display2 display2"
        "bag_om_content bag_om_content bag_om_content"
        "bag_om_content bag_om_content bag_om_content";
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    /* background: url(/IMG-Bank/Images/behind_splash2.jpg);
    background-position:center;
    background-size: cover;*/
    height: 1000px;
    overflow: visible;

    /*margin-bottom: 300px;*/
    background-image: url(/IMG-Bank/Images/paint_filter.jpg);
    background-position: translateY(10px);
    background-size: cover;
    overflow: visible;

}

.display2 {

    grid-area: display2;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:

        "behind behind behind"

    ;
    margin-top: 30px;
    margin-bottom: 35px;

}

.behind {

    grid-area: behind;
    display: grid;
    justify-content: center;
    font-family: "Lato", sans-serif;
    font-weight: 200;
    font-size: 3.5em;
    margin: 0;
    color: white;
    margin-top: 20px;
    /*  background-image: url(/IMG-Bank/Images/art.PNG);
    -webkit-background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;*/

}

/*.line3 {

    grid-area: line3;
    display: grid;
    justify-content: center;
    align-self: center;
    color: white;
    background-color: white;
    border: none;
    height: 1.6px;
    width: 100%;


}

.line4 {

    grid-area: line4;
    display: grid;
    justify-content: center;
    align-self: center;
    color: white;
    background-color: white;
    border: none;
    height: 1.6px;
    width: 100%;

}*/

.bag_om_content {

    display: grid;
    grid-area: bag_om_content;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr .8fr;

    ;
    grid-template-areas:

        "txt txt . ."
        "txt txt vid vid"
        "txt2 txt2 vid vid"
        ". . . ."

    ;

}

.txt {

    display: grid;
    grid-area: txt;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: rgb(255, 255, 255, 0.8);
    margin: 0;
    text-align: center;
    align-self: center;


}

.txt2 {

    grid-area: txt2;
    font-family: "Lato", sans-serif;
     font-family: "Playfair Display", sans-serif;
    font-weight: 300;
    font-size: 6em;
    color: rgb(255, 255, 255, 1);
    margin: 0;
    z-index: 2;
height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-self: center;
    align-items: center;

    /*transform: rotate(90deg);*/
    /*margin-left: -70%;*/

    overflow: visible;
    margin-top: -30%;






}



.border {

    border: solid 1.5px;
    border-color: rgb(255, 255, 255, 0.8);
    overflow: visible;
    width: 62%;
    height: 80%;
    margin-left: 20%;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    overflow: visible;


}

.behind_video {

    grid-area: vid;
    display: grid;
    align-self: flex-start;
    justify-content: center;
    z-index: 1;


}

iframe {

    width: 41vw;
    height: 30em;


}

.arrow {

    position: relative;
    text-align: center;
    bottom: 5%;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    opacity: 0.6;
    cursor: pointer;
    background-image: url(/IMG-Bank/Svg/arrow.svg);
    background-size: contain;
}

.bounce {
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}


#udstillinger {

    display: grid;
    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: 100px 1fr;
    grid-template-areas:
        "display3 display3 display3 display3"
        "name show_content name2 show_content2"
        "name show_content name2 show_content2";
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;

    background-position: center;
    background-size: cover;
    height: 500px;
    overflow: visible;
    margin-top: 70px;
    margin-bottom: 100px;


}


.display3 {

    grid-area: display3;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:

        "line5 show line6"

    ;
    margin-top: 30px;
    margin-bottom: 35px;

}

.line5 {

    grid-area: line5;
    display: grid;
    justify-content: center;
    align-self: center;
    color: black;
    background-color: black;
    height: 2px;
    width: 100%;
    border: none;

}

.line6 {

    grid-area: line6;
    display: grid;
    justify-content: center;
    align-self: center;
    color: black;
    background-color: black;
    height: 2px;
    width: 100%;
    border: none;

}


.show {

    grid-area: show;
    display: grid;
    justify-content: center;
    font-family: "Lato", sans-serif;
    font-family: "Playfair Display", serif;
    font-weight: 300;
    font-size: 35px;
    margin: 0;
    color: black;


}

.navn_logo {

    grid-area: name;
    background-color: green;
    margin: 10px;
    margin-top: 30px;
}

.show_txt_container {

    grid-area: show_content;
    background-color: #190080;
    margin: 10px;
    margin-top: 30px;
}

.navn_logo2 {

    grid-area: name2;
    background-color: #80007b;
    margin: 10px;
    margin-top: 30px;
}

.show_txt_container2 {

    grid-area: show_content2;
    background-color: #b15c27;
    margin: 10px;
    margin-top: 30px;
}
