* {

    box-sizing: border-box;

}

body {

    margin: 0;
    background-color: #E5E5E5;

}

#nyeste_vaerker_container {

    background-color: #E5E5E5;
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: 100px 1fr;
    grid-template-areas:
        "display display display"
        "vaerk1 vaerk2 vaerk3"
        "vaerk1 vaerk2 vaerk3";
    padding-left: 30px;
    padding-right: 30px;

}

.display {

    grid-area: display;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:

        "line1 newest line2"

    ;
    margin-top: 40px;
    margin-bottom: 35px;

}

.line1 {

    grid-area: line1;
    display: grid;
    justify-content: center;
    align-self: center;
    color: black;
    background-color: black;
    height: 2.5px;
    width: 100%;

}

.newest {

    grid-area: newest;
    display: grid;
    justify-content: center;
    font-family: "Lato", sans-serif;
    font-family: "Playfair Display", serif;
    font-weight: 300;
    font-size: 35px;
    margin: 0;

}

.line2 {

    grid-area: line2;
    display: grid;
    justify-content: center;
    align-self: center;
    color: black;
    background-color: black;
    height: 2.5px;
    width: 100%;
}

.vaerk1_container {

    display: grid;
    grid-area: vaerk1;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:

        "img1 img1 img1"
        "img1 img1 img1"
        "box1 box1 ."
    ;

    margin-top: 30px;
}

.vaerk2_container {

    display: grid;
    grid-area: vaerk2;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:

        "img2 img2 img2"
        "img2 img2 img2"
        "box2 box2 ."
    ;
    margin-top: 30px;
    overflow: hidden;

}

.zoom {

    grid-area: img1;
    overflow: hidden;
    margin: 10px;
}

.zoom2 {

    grid-area: img2;
    overflow: hidden;
    margin: 10px;
}

.zoom3 {

    grid-area: img3;
    overflow: hidden;
    margin: 10px;

}

.vaerk3_container {

    display: grid;
    grid-area: vaerk3;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:

        "img3 img3 img3"
        "img3 img3 img3"
        "box3 box3 ."
    ;

    margin-top: 30px;
}

.malleri1,
.malleri2,
.malleri3 {

    width: 100%;
    transition: .5s ease-in-out;
    cursor: pointer;

}

.malleri1:hover,
.malleri2:hover,
.malleri3:hover {

    transform: scale(1.6) translate(-18%, 15%);

}

.malleri2:hover {

    transform: scale(1.6) translate(-15%, 14%);

}

.malleri1 {

    display: grid;
    grid-area: img1;

}

.malleri2 {

    display: grid;
    grid-area: img2;

}

.malleri3 {

    display: grid;
    grid-area: img3;

}

.vaerk1 {

    grid-area: box1;
    background-color: #FFFFFF;
    margin: 10px;
    margin-left: 40px;
    overflow: visible;
    width: 340px;
    height: 200px;
    display: grid;
    z-index: 10;
    margin-top: -50px;
    margin-bottom: -50px;

}

.vaerk2 {

    grid-area: box2;
    background-color: #FFFFFF;
    margin: 10px;
    margin-left: 40px;
    overflow: visible;
    width: 340px;
    height: 200px;
    z-index: 10;
    margin-top: -50px;

}

.vaerk3 {

    grid-area: box3;
    background-color: #FFFFFF;
    /* display: grid;*/
    margin: 10px;
    margin-left: 40px;
    overflow: visible;
    width: 340px;
    height: 200px;
    z-index: 10;
    margin-top: -50px;

}

.titel {

    font-family: "Playfair Display", sans-serif;
    font-size: 40px;
    overflow: visible;
    margin: 0;
    margin-top: 45px;
    margin-left: 20px;
    width: 110%;
    text-align: right;
}

.size {

    font-family: "Lato", serif;
    font-size: 14px;
    margin: 0;
    text-align: center;
    color: #848282;
    height: 20px;
    margin-top: 15px;

}

.more {

    font-family: "Playfair Display", sans-serif;
    font-size: 14px;
    text-decoration: underline;
    text-align: center;
    transition: .4s ease;
    text-decoration-skip: top;

}

.more:hover {

    color: #242323;
    cursor: pointer;
    text-decoration-color: #ffc47f;

}

#bag_om_vaekert_container {

    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: 100px 1fr;
    grid-template-areas:
        "display2 display2 display2"
        "bag_om_content bag_om_content bag_om_content"
        "bag_om_content bag_om_content bag_om_content";
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    background: url(/IMG-Bank/Images/close_up2.jpg);
    background-position:center;
    background-size: cover;
    height: 450px;
    overflow: visible;
    margin-top: -70px;
    margin-bottom: 300px;

}

.display2 {

    grid-area: display2;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:

        "line3 behind line4"

    ;
    margin-top: 30px;
    margin-bottom: 35px;

}

.behind {

    grid-area: behind;
    display: grid;
    justify-content: center;
    font-family: "Lato", sans-serif;
    font-family: "Playfair Display", serif;
    font-weight: 300;
    font-size: 35px;
    margin: 0;
    color: white;

}

.line3 {

    grid-area: line3;
    display: grid;
    justify-content: center;
    align-self: center;
    color: white;
    background-color: white;
    height: 2.5px;
    width: 100%;

}

.line4 {

    grid-area: line4;
    display: grid;
    justify-content: center;
    align-self: center;
    color: white;
    background-color: white;
    height: 2.5px;
    width: 100%;
}

.bag_om_content {

    display: grid;
    grid-area: bag_om_content;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:

        "txt txt txt"
        "txt2 txt2 txt2"
        "vid vid vid"
    ;
}

.txt {

    display: grid;
    grid-area: txt;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: white;
    margin: 0;
    margin-top: 35px;
}

.txt2 {

    grid-area: txt2;
    font-family: "Lato", serif;
    font-family: "Playfair Display", serif;
    font-weight: 300;
    font-size: 60px;
    color: white;
    margin: 0;
    z-index: 2;
    margin-top: 30px;
    margin-bottom: 8px;

}

.behind_video {

    grid-area: vid;
    display: grid;
    align-self: center;
    justify-content: center;
    margin-top: -40px;
    z-index: 1;
    height: 430px;

}

iframe {

    width: 750px;
    height: 430px;

}

