* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #E5E5E5;
}

/*-------- NYESTE VÆRKER MOBILE/TABLET - START --------*/
#nyeste_vaerker_container {
    background-color: #E5E5E5;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: 100px 20px 1fr 20px 1fr 20px 1fr 20px 100px;
    grid-template-rows: 100px 1fr 1fr 1fr 100px;
    grid-template-areas:
        "display"
        "vaerk1"
        "vaerk2"
        "vaerk3"
        "galleri_knap";
    padding-left: 30px;
    padding-right: 30px;
    grid-gap: 20px;
}

.display {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: display;
    display: -ms-grid;
    display: grid;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-columns: .4fr 1fr .4fr;
    grid-template-columns: .4fr 1fr .4fr;
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
        "line1 newest line2"
    ;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.line1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: line1;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-grid-row-align: center;
    align-self: center;
    color: black;
    background-color: black;
    height: 2px;
    width: 100%;
    border: none;
}

.newest {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: newest;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: "Lato", sans-serif;
    font-family: "Playfair Display", serif;
    font-weight: 300;
    font-size: 5vw;
    margin: 0;
}

.line2 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: line2;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-grid-row-align: center;
    align-self: center;
    color: black;
    background-color: black;
    height: 2px;
    width: 100%;
    border: none;
}

.vaerk1_container {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    display: -ms-grid;
    display: grid;
    grid-area: vaerk1;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "img1"
        "img1"
        "box1"
    ;
    margin-top: 0px;
}

.vaerk2_container {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    display: -ms-grid;
    display: grid;
    grid-area: vaerk2;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "img2"
        "img2"
        "box2"
    ;
    padding-top: 0px;
}

.vaerk3_container {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    display: -ms-grid;
    display: grid;
    grid-area: vaerk3;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "img3"
        "img3"
        "box3"
    ;
    padding-top: 0px;
}

.zoom {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: img1;
    overflow: hidden;
    margin: 10px;
}

.zoom2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: img2;
    overflow: hidden;
    margin: 10px;
}

.zoom3 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: img3;
    overflow: hidden;
    margin: 10px;
}

.malleri1,
.malleri2,
.malleri3 {
    width: 100%;
    height: 100%;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    -ms-grid-column-align: center;
    justify-self: center;
}

.malleri1:hover,
.malleri2:hover,
.malleri3:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.malleri2:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.malleri1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    display: -ms-grid;
    display: grid;
    grid-area: img1;
}

.malleri2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    display: -ms-grid;
    display: grid;
    grid-area: img2;
}

.malleri3 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    display: -ms-grid;
    display: grid;
    grid-area: img3;
}

.vaerk1 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: box1;
    background-color: #fafafa;
    -ms-grid-column-align: center;
    justify-self: center;
    overflow: visible;
    width: 80%;
    display: -ms-grid;
    display: grid;
    z-index: 10;
    margin-top: -50px;
}

.vaerk2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: box2;
    background-color: #fafafa;
    -ms-grid-column-align: center;
    justify-self: center;
    overflow: visible;
    width: 80%;
    display: -ms-grid;
    display: grid;
    z-index: 10;
    margin-top: -50px;
}

.vaerk3 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: box3;
    background-color: #fafafa;
    -ms-grid-column-align: center;
    justify-self: center;
    overflow: visible;
    width: 80%;
    display: -ms-grid;
    display: grid;
    z-index: 10;
    margin-top: -50px;
}

.titel {
    font-family: "Playfair Display", sans-serif;
    font-size: 20px;
    overflow: visible;
    margin: 0;
    margin-top: 15px;
    margin-left: 0px;
    width: 100%;
    text-align: center;
}

.size {
    font-family: "Lato", serif;
    font-size: 14px;
    margin: 0;
    text-align: center;
    color: #848282;
    height: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.more {
    font-family: "Playfair Display", sans-serif;
    font-size: 16px;
    text-decoration: underline;
    text-align: center;
    -webkit-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
    -webkit-text-decoration-skip: none;
    text-decoration-skip: none;
    margin-top: 10px;
}

.more:hover {
    color: #242323;
    cursor: pointer;
    -webkit-text-decoration-color: #ffc47f;
    text-decoration-color: #ffc47f;
}

.galleri_knap {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    display: -ms-grid;
    display: grid;
    grid-area: galleri_knap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: hidden;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "klik"
        "galleriknap"
    ;
    text-transform: uppercase;
    font-family: "Playfair Display", sans-serif;
}

.klik {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    font-size: .8em;
    grid-area: klik;
    margin: 0;
    padding: 0;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-family: "Lato", sans-serif;
}

.galleri2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    font-size: 1.5em;
    grid-area: galleriknap;
    margin: 0;
    padding: 0;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-top: -4px;
    border-bottom: solid 1.5px transparent;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.galleri2 a {
    text-decoration: none;
    border-bottom: solid 1.5px transparent;
    color: black;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.galleri2 a:hover {
    border-bottom: solid 1.5px #e8c8a2;
    overflow: hidden;
    color: grey;
    cursor: pointer;
}

#partner,
#anmeldelser {
    display: none;
}

/*-------- NYESTE VÆRKER MOBILE/TABLET - SLUT --------*/
/*----------- BAG OM VÆRKET MOBILE - START ------------*/
#bag_om_vaekert_container {
    margin-top: 20px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: .5fr 1fr 1fr;
    grid-template-rows: .5fr 1fr 1fr;
    grid-template-areas:
        "display2"
        "bag_om_content"
        "bag_om_content"
    ;
    text-align: center;
    overflow: visible;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: url(../IMG-Bank/Images/home/mennesket_og_kunstneren_splash.jpg);
    /* background-position: translateY(10);*/
    background-size: cover;
}

.display2 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: display2;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
        "behind"
    ;
    margin-top: 10px;
    margin-bottom: 30px;
    height: 100%;
}

.behind {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: behind;
    display: -ms-grid;
    display: grid;
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-family: "Lato", sans-serif;
    font-weight: 200;
    font-size: 1.7em;
    margin: 0;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
}

.bag_om_content {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    display: -ms-grid;
    display: grid;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    grid-area: bag_om_content;
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: .3fr .5fr 1fr;
    grid-template-rows: .3fr .5fr 1fr;
    grid-template-areas:
        "txt"
        "txt2"
        "vid"
    ;
}

.txt {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    display: -ms-grid;
    display: grid;
    text-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-area: txt;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    height: 100%;
    margin-top: 0%;
    margin-bottom: 0;
}

.txt2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: txt2;
    font-weight: 300;
    font-size: 2.5em;
    color: white;
    height: 100%;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    opacity: 0.6;
}

.border {
    border: solid 1.5px;
    border-color: rgba(255, 255, 255, 1);
    overflow: visible;
    width: 62%;
    height: 60%;
    margin-left: 19%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: visible;
}

.behind_video {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: vid;
    display: -ms-grid;
    display: grid;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 5vw;
    margin-bottom: 5vw;
    z-index: 1;
    height: 80%;
}

iframe {
    width: 60vw;
    height: 35vw;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: none;
}

.arrow {
    display: none;
}

/*----------- BAG OM VÆRKET MOBILE - SLUT ------------*/
/*-------- PARNTERE MOBILE/TABLET - START --------*/
#partner {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: 100px 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 1fr;
    grid-template-areas:
        "display3"
        "navn_logo1"
        "navn_logo2"
        "navn_logo3"
    ;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

.display3 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: display3;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-grid-columns: .4fr 1fr .4fr;
    grid-template-columns: .4fr 1fr .4fr;
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
        "line5 show line6"
    ;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /*padding-left:5px;
    padding-right:5px;*/
}

.line5 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: line5;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-grid-row-align: center;
    align-self: center;
    color: black;
    background-color: black;
    height: 1.5px;
    width: 100%;
    border: none;
}

.show {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: show;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: "Lato", sans-serif;
    font-family: "Playfair Display", serif;
    font-weight: 300;
    font-size: 5vw;
    margin: 0;
}

.line6 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: line6;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-grid-row-align: center;
    align-self: center;
    color: black;
    background-color: black;
    height: 1.5px;
    width: 100%;
    border: none;
}

.parnter_logo {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: navn_logo1;
    margin: 10px;
    margin-top: 30px;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center;
}

.parnter_logo2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: navn_logo2;
    margin: 10px;
    margin-top: 30px;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.parnter_logo3 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: navn_logo3;
    margin: 10px;
    margin-top: 30px;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.partner_logo img,
.partner_logo2 img,
.partner_logo3 img {
    width: 80%;
}

.uformel,
.runforcover,
.artmanager {
    margin-top: 5%;
    width: 60%;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    cursor: pointer;
    border-bottom: solid 1.5px transparent;
    padding-bottom: 10px;
}

.uformel:hover,
.runforcover:hover,
.artmanager:hover {
    cursor: pointer;
    border-bottom: solid 1.5px #E8C8A2;
    padding-bottom: 10px;
}

/*-------- PARNTERE MOBILE/TABLET - SLUT --------*/
/*-------- ANMELDELSER MOBILE/TABLET - START --------*/
#anmeldelser {
    background-color: #b8b8b8;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 20px 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "anmeld1"
        "anmeld2"
    ;
    /* background-color: aqua;*/
    /* height: 300px;*/
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-gap: 20px;
    color: white;
    background-image: url(../IMG-Bank/Images/home/anmeldelser/Anmeldelser_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.2em;
    font-weight: 300;
}

.anmeld1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: anmeld1;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    justify-items: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 0.5fr;
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas:
        "citat1"
        "name1"
    ;
    padding: 10px;
}

.anmeld2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: anmeld2;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    justify-items: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 0.5fr;
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas:
        "citat2"
        "name2"
    ;
    padding: 10px;
}

.citat {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: citat1;
    display: -ms-grid;
    display: grid;
    -ms-grid-column-align: center;
    justify-self: center;
    font-family: "Lato", sans-serif;
    font-style: italic;
    -ms-grid-row-align: center;
    align-self: center;
}

.citat2 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: citat2;
    display: -ms-grid;
    display: grid;
    -ms-grid-column-align: center;
    justify-self: center;
    font-family: "Lato", sans-serif;
    font-style: italic;
    -ms-grid-row-align: center;
    align-self: center;
}

.name {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: name1;
    justify-self: flex-end;
    font-family: "Lato", sans-serif;
}

.name2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: name2;
    justify-self: flex-end;
    font-family: "Lato", sans-serif;
}

/*-------- PARNTERE MOBILE/TABLET - SLUT --------*/
@media only screen and (min-width: 550px) {
    #nyeste_vaerker_container {
        background-color: #E5E5E5;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: repeat(1, 1fr);
        -ms-grid-rows: 100px 20px 1fr 20px 1fr 20px 1fr 20px 100px;
        grid-template-rows: 100px 1fr 1fr 1fr 100px;
        grid-template-areas:
            "display"
            "vaerk1"
            "vaerk2"
            "vaerk3"
            "galleri_knap";
        padding-left: 30px;
        padding-right: 30px;
        grid-gap: 20px;
    }

    .vaerk1_container,
    .vaerk2_container,
    .vaerk3_container {
        margin-top: 0px;
        width: 80%;
        height: 100%;
        -ms-grid-column-align: center;
        justify-self: center;
    }

    #partner {
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        -ms-grid-rows: 100px 1fr 1fr 1fr;
        grid-template-rows: 100px 1fr 1fr 1fr;
        grid-template-areas:
            "display3 display3 display3"
            "navn_logo1"
            "navn_logo2"
            "navn_logo3"
        ;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        margin-top: 10px;
    }

    .partner_logo img,
    .partner_logo2 img,
    .partner_logo3 img {
        width: 65%;
    }

    #anmeldelser {
        background-color: #b8b8b8;
        display: -ms-grid;
        display: grid;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: 1fr 50px 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "anmeld1"
            "anmeld2"
        ;
        padding-left: 50px;
        padding-right: 50px;
        grid-gap: 50px;
        color: white;
        background-image: url(../IMG-Bank/Images/home/anmeldelser/Anmeldelser_bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 1.2em;
        font-weight: 300;
    }

    .txt {
        font-size: 1.2em;
    }

    .display {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .vaerk1_container {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .vaerk2_container {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }

    .vaerk3_container {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
    }

    .galleri_knap {
        -ms-grid-row: 9;
        -ms-grid-column: 1;
    }

    .display3 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .parnter_logo {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }

    .parnter_logo2 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .parnter_logo3 {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
    }

    .anmeld1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .anmeld2 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
}

@media only screen and (min-width: 800px) {
    #nyeste_vaerker_container {
        background-color: #E5E5E5;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
        grid-template-columns: repeat(3, 1fr);
        -ms-grid-rows: 100px 20px 1fr 20px 100px;
        grid-template-rows: 100px 1fr 100px;
        grid-template-areas:
            "display display display"
            "vaerk1 vaerk2 vaerk3"
            "galleri_knap galleri_knap galleri_knap";
        padding-left: 30px;
        padding-right: 30px;
        grid-gap: 20px;
    }

    .vaerk1_container,
    .vaerk2_container,
    .vaerk3_container {
        margin-top: 0px;
        width: 100%;
        height: 100%;
        -ms-grid-column-align: center;
        justify-self: center;
    }

    #partner {
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        -ms-grid-rows: 100px 1fr;
        grid-template-rows: 100px 1fr;
        grid-template-areas:
            "display3 display3 display3"
            "navn_logo1 navn_logo2 navn_logo3"
        ;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        margin-top: 10px;
    }

    #anmeldelser {
        background-color: #b8b8b8;
        display: -ms-grid;
        display: grid;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-grid-columns: 1fr 50px 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: 1fr;
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas:
            "anmeld1 anmeld2"
        ;
        height: 300px;
        padding-left: 50px;
        padding-right: 50px;
        grid-gap: 50px;
        color: white;
        background-image: url(../IMG-Bank/Images/home/anmeldelser/Anmeldelser_bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 1.5em;
        font-weight: 300;
    }

    .txt {
        font-size: 1.5em;
    }

    .txt2 {
        font-size: 4em;
    }

    .behind {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-area: behind;
        display: -ms-grid;
        display: grid;
        -ms-grid-column-align: center;
        justify-self: center;
        -ms-grid-row-align: center;
        align-self: center;
        font-family: "Lato", sans-serif;
        font-weight: 200;
        font-size: 5vw;
        margin: 0;
        color: white;
        padding-left: 2px;
        padding-right: 2px;
    }

    .display {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
    }

    .vaerk1_container {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .vaerk2_container {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }

    .vaerk3_container {
        -ms-grid-row: 3;
        -ms-grid-column: 5;
    }

    .galleri_knap {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
    }

    .display3 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .parnter_logo {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }

    .parnter_logo2 {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }

    .parnter_logo3 {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    }

    .anmeld1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .anmeld2 {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
}

@media only screen and (min-width: 1280px) {

    /*--------- NYESTE VÆRKER DESKTOP - START ----------*/
    #nyeste_vaerker_container {
        background-color: #E5E5E5;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
        grid-template-columns: repeat(3, 1fr);
        -ms-grid-rows: 100px 20px 1fr 20px 1fr 20px .1fr;
        grid-template-rows: 100px 1fr 1fr .1fr;
        grid-template-areas:
            "display display display"
            "vaerk1 vaerk2 vaerk3"
            "vaerk1 vaerk2 vaerk3"
            "galleri_knap galleri_knap galleri_knap";
        padding-left: 30px;
        padding-right: 30px;
    }

    .galleri_knap {
        -ms-grid-row: 9;
        -ms-grid-column: 1;
        display: -ms-grid;
        display: grid;
        grid-area: galleri_knap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-grid-row-align: center;
        align-self: center;
        margin-top: -30px;
        overflow: hidden;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "klik"
            "galleriknap"
        ;
        text-transform: uppercase;
        font-family: "Playfair Display", sans-serif;
    }

    .klik {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        font-size: .8em;
        grid-area: klik;
        margin: 0;
        padding: 0;
        display: -ms-grid;
        display: grid;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-grid-row-align: center;
        align-self: center;
        font-family: "Lato", sans-serif;
    }

    .galleri2 {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        font-size: 1.5em;
        grid-area: galleriknap;
        margin: 0;
        padding: 0;
        display: -ms-grid;
        display: grid;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-grid-row-align: center;
        align-self: center;
        margin-top: -4px;
        /* border-bottom: solid 1.5px transparent;*/
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
    }

    .galleri2:hover {
        /*border-bottom: solid 1.5px #e8c8a2;*/
        overflow: hidden;
        color: grey;
        cursor: pointer;
    }

    .display {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-area: display;
        display: -ms-grid;
        display: grid;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-grid-columns: 1fr 0.5fr 1fr;
        grid-template-columns: 1fr 0.5fr 1fr;
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas:
            "line1 newest line2"
        ;
        margin-top: 30px;
        margin-bottom: 35px;
    }

    .line1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-area: line1;
        display: -ms-grid;
        display: grid;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-grid-row-align: center;
        align-self: center;
        color: black;
        background-color: black;
        height: 2px;
        width: 100%;
        border: none;
    }

    .newest {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
        grid-area: newest;
        display: -ms-grid;
        display: grid;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-family: "Lato", sans-serif;
        font-family: "Playfair Display", serif;
        font-weight: 300;
        font-size: 30px;
        margin: 0;
    }

    .line2 {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
        grid-area: line2;
        display: -ms-grid;
        display: grid;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-grid-row-align: center;
        align-self: center;
        color: black;
        background-color: black;
        height: 2px;
        width: 100%;
        border: none;
    }

    .vaerk1_container {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        display: -ms-grid;
        display: grid;
        grid-area: vaerk1;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "img1 img1 img1"
            "img1 img1 img1"
            "box1 box1 ."
        ;
        margin-top: 30px;
    }

    .vaerk2_container {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        display: -ms-grid;
        display: grid;
        grid-area: vaerk2;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "img2 img2 img2"
            "img2 img2 img2"
            "box2 box2 ."
        ;
        margin-top: 30px;
    }

    .vaerk3_container {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
        display: -ms-grid;
        display: grid;
        grid-area: vaerk3;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "img3 img3 img3"
            "img3 img3 img3"
            "box3 box3 ."
        ;
        margin-top: 30px;
    }

    .zoom {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        grid-area: img1;
        overflow: hidden;
        margin: 10px;
    }

    .zoom2 {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        grid-area: img2;
        overflow: hidden;
        margin: 10px;
    }

    .zoom3 {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        grid-area: img3;
        overflow: hidden;
        margin: 10px;
    }

    .malleri1,
    .malleri2,
    .malleri3 {
        width: 100%;
        -webkit-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        overflow: hidden;
    }

    .malleri1:hover,
    .malleri2:hover,
    .malleri3:hover {
        -webkit-transform: scale(1.5) translateY(15%);
        -ms-transform: scale(1.5) translateY(15%);
        transform: scale(1.5) translateY(15%);
        overflow: hidden;
    }

    .malleri2:hover {
        -webkit-transform: scale(1.45) translate(10%, 15%);
        -ms-transform: scale(1.45) translate(10%, 15%);
        transform: scale(1.45) translate(10%, 15%);
        overflow: hidden;
    }

    .malleri1 {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        display: -ms-grid;
        display: grid;
        grid-area: img1;
    }

    .malleri2 {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        display: -ms-grid;
        display: grid;
        grid-area: img2;
    }

    .malleri3 {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        display: -ms-grid;
        display: grid;
        grid-area: img3;
    }

    .vaerk1 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        grid-area: box1;
        background-color: #fafafa;
        margin: 10px;
        margin-left: 100px;
        overflow: visible;
        width: 340px;
        height: 200px;
        display: -ms-grid;
        display: grid;
        z-index: 10;
        margin-top: -50px;
        margin-bottom: -50px;
    }

    .vaerk2 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        grid-area: box2;
        background-color: #fafafa;
        margin: 10px;
        margin-left: 100px;
        overflow: visible;
        width: 340px;
        height: 200px;
        display: -ms-grid;
        display: grid;
        z-index: 10;
        margin-top: -50px;
        margin-bottom: -50px;
    }

    .vaerk3 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        grid-area: box3;
        background-color: #fafafa;
        /* display: grid;*/
        margin: 10px;
        margin-left: 100px;
        overflow: visible;
        width: 340px;
        height: 200px;
        display: -ms-grid;
        display: grid;
        z-index: 10;
        margin-top: -50px;
        margin-bottom: -50px;
    }

    .titel {
        font-family: "Playfair Display", sans-serif;
        font-size: 39px;
        overflow: visible;
        margin: 0;
        margin-top: 45px;
        margin-left: 10%;
        ;
        width: 110%;
        text-align: center;
    }

    .size {
        font-family: "Lato", serif;
        font-size: 16px;
        margin: 0;
        text-align: center;
        color: #848282;
        height: 20px;
        margin-top: -10px;
    }

    .more {
        font-family: "Playfair Display", sans-serif;
        font-size: 16px;
        text-decoration: underline;
        text-align: center;
        -webkit-transition: .4s ease;
        -o-transition: .4s ease;
        transition: .4s ease;
        -webkit-text-decoration-skip: none;
        text-decoration-skip: none;
        margin-top: 10px;
    }

    .more:hover {
        color: #242323;
        cursor: pointer;
        -webkit-text-decoration-color: #ffc47f;
        text-decoration-color: #ffc47f;
    }

    /*-------------- NYESTE VÆRKER - SLUT --------------*/
    /*-------------- BAG OM VÆRKET - START --------------*/
    #bag_om_vaekert_container {
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        -ms-grid-rows: 100px 1fr 1fr 50px;
        grid-template-rows: 100px 1fr 1fr 50px;
        grid-template-areas:
            "display2 display2 display2"
            "bag_om_content bag_om_content bag_om_content"
            "bag_om_content bag_om_content bag_om_content"
            ". arrow_bounce ."
        ;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        height: 1000px;
        overflow: visible;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-image: url(../IMG-Bank/Images/home/mennesket_og_kunstneren_splash.jpg);
        /*background-position: translateY(10px);*/
        background-size: cover;
        overflow: visible;
    }

    .display2 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-area: display2;
        display: -ms-grid;
        display: grid;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas:
            "behind"
        ;
        margin-top: 30px;
        margin-bottom: 35px;
        height: 100%;
    }

    .behind {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-area: behind;
        display: -ms-grid;
        display: grid;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-family: "Lato", sans-serif;
        font-weight: 200;
        font-size: 3.5em;
        margin: 0;
        color: white;
    }

    .bag_om_content {
        -ms-grid-row: 2;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        display: -ms-grid;
        display: grid;
        height: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        grid-area: bag_om_content;
        -ms-grid-columns: 1fr 1fr 1.2fr 1fr;
        grid-template-columns: 1fr 1fr 1.2fr 1fr;
        -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        ;
        grid-template-areas:
            "txt txt vid vid"
            "txt2 txt2 vid vid"
        ;
    }

    .txt {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        display: -ms-grid;
        display: grid;
        grid-area: txt;
        font-family: "Lato", sans-serif;
        font-weight: 300;
        font-size: 24px;
        color: rgba(255, 255, 255, 0.8);
        margin: 0;
        text-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 0%;
        margin-bottom: -20%;
    }

    .txt2 {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        grid-area: txt2;
        font-family: "Lato", sans-serif;
        font-family: "Playfair Display", sans-serif;
        font-weight: 300;
        font-size: 6em;
        color: rgba(255, 255, 255, 1);
        z-index: 2;
        height: 100%;
        width: 100%;
        display: -ms-grid;
        display: grid;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-grid-column-align: center;
        justify-self: center;
        -ms-grid-row-align: center;
        align-self: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        overflow: visible;
        opacity: 0.6;
        margin-top: -20%;
    }

    .border {
        border: solid 1.5px;
        border-color: rgba(255, 255, 255, 1);
        overflow: visible;
        width: 62%;
        height: 60%;
        margin-left: 19%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-item-align: center;
        align-self: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        overflow: visible;
    }

    .behind_video {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        grid-area: vid;
        display: -ms-grid;
        display: grid;
        -ms-grid-row-align: center;
        align-self: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 0vw;
        margin-bottom: 0vw;
        width: 100%;
        height: 100%;
        z-index: 1;
        margin-right: -5%;
    }

    iframe {
        display: -ms-grid;
        display: grid;
        -ms-grid-row-align: center;
        align-self: center;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 23vw;
        width: 40vw;
        border: none;
    }

    .arrow {
        display: inline-block;
        position: relative;
        text-align: center;
        bottom: 25%;
        left: 45%;
        width: 40px;
        height: 40px;
        opacity: 0.6;
        cursor: pointer;
        background-image: url(../IMG-Bank/Svg/arrow.svg);
        background-size: contain;
        grid-area: arrow_bounce;
    }

    .bounce {
        -webkit-animation: bounce 2s infinite;
        animation: bounce 2s infinite;
    }

    @-webkit-keyframes bounce {

        0%,
        20%,
        50%,
        80%,
        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        40% {
            -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
        }

        60% {
            -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
        }
    }

    @keyframes bounce {

        0%,
        20%,
        50%,
        80%,
        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        40% {
            -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
        }

        60% {
            -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
        }
    }

    /*-------------- BAG OM VÆRKET - SLUT --------------*/
    /*-------------- PARTNER START --------------*/
    #partner {
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        -ms-grid-rows: 100px 1fr;
        grid-template-rows: 100px 1fr;
        grid-template-areas:
            "display3 display3 display3"
            "navn_logo1 navn_logo2 navn_logo3"
        ;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        height: 500px;
        margin-top: 10px;
    }

    .display3 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-area: display3;
        display: -ms-grid;
        display: grid;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-grid-columns: 1fr 0.5fr 1fr;
        grid-template-columns: 1fr 0.5fr 1fr;
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas:
            "line5 show line6"
        ;
        margin-top: 30px;
        margin-bottom: 35px;
    }

    .line5 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-area: line5;
        display: -ms-grid;
        display: grid;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-grid-row-align: center;
        align-self: center;
        color: black;
        background-color: black;
        height: 2px;
        width: 100%;
        border: none;
    }

    .line6 {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
        grid-area: line6;
        display: -ms-grid;
        display: grid;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-grid-row-align: center;
        align-self: center;
        color: black;
        background-color: black;
        height: 2px;
        width: 100%;
        border: none;
    }

    .show {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
        grid-area: show;
        display: -ms-grid;
        display: grid;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-family: "Lato", sans-serif;
        font-family: "Playfair Display", serif;
        font-weight: 300;
        font-size: 35px;
        margin: 0;
        color: black;
    }

    .parnter_logo {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        grid-area: navn_logo1;
        margin: 10px;
        margin-top: 30px;
        display: -ms-grid;
        display: grid;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-line-pack: center;
        align-content: center;
    }

    .parnter_logo2 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        grid-area: navn_logo2;
        margin: 10px;
        margin-top: 30px;
        display: -ms-grid;
        display: grid;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
    }

    .parnter_logo3 {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
        grid-area: navn_logo3;
        margin: 10px;
        margin-top: 30px;
        display: -ms-grid;
        display: grid;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
    }

    .uformel,
    .runforcover,
    .artmanager {
        margin-top: 5%;
        width: 55%;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
        cursor: pointer;
        border-bottom: solid 1.5px transparent;
    }

    .uformel:hover,
    .runforcover:hover,
    .artmanager:hover {
        cursor: pointer;
        border-bottom: solid 1.5px #E8C8A2;
        padding-bottom: 10px;
    }

    /*-------------- PARTNER SLUT --------------*/
    /*-------------- CITAT START --------------*/
    #anmeldelser {
        background-color: #b8b8b8;
        display: -ms-grid;
        display: grid;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-grid-columns: 1fr 50px 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: 1fr;
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas:
            "anmeld1 anmeld2"
        ;
        /* background-color: aqua;*/
        height: 300px;
        padding-left: 50px;
        padding-right: 50px;
        grid-gap: 50px;
        color: white;
        background-image: url(../IMG-Bank/Images/home/anmeldelser/Anmeldelser_bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 1.2em;
        font-weight: 300;
    }

    .anmeld1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-area: anmeld1;
        /* background-color: green;*/
        display: -ms-grid;
        display: grid;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "citat1"
            "name1"
        ;
        height: 100%;
        padding: 10px;
    }

    .citat {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-area: citat1;
        font-family: "Lato", sans-serif;
        font-style: italic;
        -ms-grid-column-align: center;
        justify-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }

    .name {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        grid-area: name1;
        justify-self: flex-end;
        font-family: "Lato", sans-serif;
        padding-right: 100px;
    }

    .anmeld2 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        grid-area: anmeld2;
        display: -ms-grid;
        display: grid;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "citat2"
            "name2"
        ;
        height: 100%;
        padding: 10px;
    }

    .citat2 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-area: citat2;
        font-family: "Lato", sans-serif;
        font-style: italic;
        -ms-grid-column-align: center;
        justify-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }

    .name2 {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        grid-area: name2;
        justify-self: flex-end;
        font-family: "Lato", sans-serif;
        padding-right: 100px;
    }

    /*-------------- CITAT SLUT --------------*/
    .display {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
    }

    .line1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .newest {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    .line2 {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .vaerk1_container {
        -ms-grid-row: 3;
        -ms-grid-row-span: 3;
        -ms-grid-column: 1;
    }

    .vaerk2_container {
        -ms-grid-row: 3;
        -ms-grid-row-span: 3;
        -ms-grid-column: 3;
    }

    .vaerk3_container {
        -ms-grid-row: 3;
        -ms-grid-row-span: 3;
        -ms-grid-column: 5;
    }

    .zoom {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .zoom2 {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .zoom3 {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .malleri1 {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .malleri2 {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .malleri3 {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .vaerk1 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .vaerk2 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .vaerk3 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .galleri_knap {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
    }

    .klik {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .galleri2 {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }

    .display2 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .behind {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .bag_om_content {
        -ms-grid-row: 2;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .txt {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .txt2 {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .behind_video {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 3;
        -ms-grid-column-span: 2;
    }

    .display3 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .line5 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .show {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    .line6 {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .parnter_logo {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }

    .parnter_logo2 {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }

    .parnter_logo3 {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    }

    .anmeld1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .anmeld2 {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .citat {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .citat2 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .name {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }

    .name2 {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }

    .behind {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
}

@media only screen and (min-width: 1280px) {
    .citat2 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .name2 {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
}

@media only screen and (min-width: 1280px) {
    .citat {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .name {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
}

@media only screen and (min-width: 550px) {
    .anmeld1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .anmeld2 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
}

@media only screen and (min-width: 800px) {
    .anmeld1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .anmeld2 {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
}

@media only screen and (min-width: 1280px) {
    .anmeld1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .anmeld2 {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
}

@media only screen and (min-width: 1280px) {
    .line5 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .line6 {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .show {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
}

@media only screen and (min-width: 550px) {
    .display3 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .parnter_logo {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }

    .parnter_logo2 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .parnter_logo3 {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
    }
}

@media only screen and (min-width: 800px) {
    .display3 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .parnter_logo {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }

    .parnter_logo2 {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }

    .parnter_logo3 {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    }
}

@media only screen and (min-width: 1280px) {
    .display3 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .parnter_logo {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }

    .parnter_logo2 {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }

    .parnter_logo3 {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    }
}

@media only screen and (min-width: 1280px) {
    .txt {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .txt2 {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .behind_video {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 3;
        -ms-grid-column-span: 2;
    }
}

@media only screen and (min-width: 1280px) {
    .behind {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
}

@media only screen and (min-width: 1280px) {
    .display2 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .bag_om_content {
        -ms-grid-row: 2;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .arrow {
        -ms-grid-row: 4;
        -ms-grid-column: 2;
    }
}

@media only screen and (min-width: 1280px) {
    .klik {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .galleri2 {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
}

@media only screen and (min-width: 1280px) {
    .zoom3 {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .malleri3 {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .vaerk3 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }
}

@media only screen and (min-width: 1280px) {
    .zoom2 {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .malleri2 {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .vaerk2 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }
}

@media only screen and (min-width: 1280px) {
    .zoom {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .malleri1 {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .vaerk1 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }
}

@media only screen and (min-width: 1280px) {
    .line1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .newest {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    .line2 {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
}

@media only screen and (min-width: 550px) {
    .galleri_knap {
        -ms-grid-row: 9;
        -ms-grid-column: 1;
    }

    .display {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .vaerk1_container {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .vaerk2_container {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }

    .vaerk3_container {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
    }
}

@media only screen and (min-width: 800px) {
    .galleri_knap {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
    }

    .display {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
    }

    .vaerk1_container {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .vaerk2_container {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }

    .vaerk3_container {
        -ms-grid-row: 3;
        -ms-grid-column: 5;
    }
}

@media only screen and (min-width: 1280px) {
    .galleri_knap {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
    }

    .display {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
    }

    .vaerk1_container {
        -ms-grid-row: 3;
        -ms-grid-row-span: 3;
        -ms-grid-column: 1;
    }

    .vaerk2_container {
        -ms-grid-row: 3;
        -ms-grid-row-span: 3;
        -ms-grid-column: 3;
    }

    .vaerk3_container {
        -ms-grid-row: 3;
        -ms-grid-row-span: 3;
        -ms-grid-column: 5;
    }
}
