* {

    box-sizing: border-box;

}

body {

    margin: 0;
    background-image: url(/IMG-Bank/Images/Splash_Filter.png);
    background-repeat: no-repeat;
    background-size: cover;

}

header {

    background-color: rgb(0, 0, 0, 0.5);
    height: 100px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "logo logo . ikoner ikoner . . . . . . ."
        "logo logo . ikoner ikoner . . . nav nav search search"
        "logo logo . ikoner ikoner . . . nav nav search search"
        "logo logo . ikoner ikoner . . . . . . .";

}

nav {

    grid-area: nav;
    margin: 0;
    margin-left: -30px;
    padding: 0;
    width: 116.5%;
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
        "galleri  om  kontakt"
    ;

}

nav a {

    font-size: 20px;
    color: white;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    text-transform: uppercase;

}

nav a:hover {}

.galleri {

    grid-area: galleri;
    text-align: left;

}

.om {

    grid-area: om;
    text-align: center;

}

.kontakt {

    grid-area: kontakt;
    text-align: right;
}

.logo {

    grid-area: logo;
    margin-left: 35px;
    width: auto;
    display: grid;

}


.logo img {

    width: 16vw;

}

.sociale_ikoner {

    grid-area: ikoner;
    display: flex;
    align-self: center;
    justify-content: space-around;
    width: 100px;


}

.sociale_ikoner img {

    opacity: 0.9;
    width: 27.5px;
    height: 27.5px;

}

.soeg_sprog {

    grid-area: search;
    display: flex;
    align-self: center;
    justify-content: space-around;
    width: 150px;
    margin-left: 20%;

}

.search {

    width: 20px;
    height: 20px;
}

.search img {

    width: 20px;
    height: 20px;

}

.english {

    width: 31px;
    height: 20px;

}

.english img {

    width: 31px;
    height: 20px;

}
