* {

    box-sizing: border-box;

}

body {

    margin: 0;
    background-color: red;

}

header {

    background-color: blue;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        ". . . . . . . . . . . ."
        ". logo . . . . . nav nav . . ."
        ". logo . . . . . nav nav . . ."
        ". . . . . . . . . . . .";
    background-color: #0f0f0f;
    box-shadow: 0px 1px 10px #070707;

}


nav {

    grid-area: nav;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

}


nav a {

    font-size: 20px;
    color: white;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    text-transform: uppercase;

}

nav a:hover {}


.galleri {

    grid-area: galleri;

}

.om {

    grid-area: om;

}

.kontakt {

    grid-area: kontakt;
}


logo {

    grid-area: logo;
}

/*.nav-container {
    z-index: 30;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "logo logo logo . . . . . . . . ." "logo logo logo ikoner ikoner ikoner ikoner . . . wrap1 sprog" "logo logo logo navbar navbar navbar navbar navbar navbar navbar navbar navbar" "logo logo logo navbar navbar navbar navbar navbar navbar navbar navbar navbar";
    background-color: #0f0f0f;
    box-shadow: 0px 1px 10px #070707;
    height: 60px;




}*/



/*.container {
    width: 80%;
    margin: 0 auto;


}

header {
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Playfair Display', serif;
    margin: 0;



}

header::after {
    content: '';
    display: table;
    clear: both;
}

.splash {
    background-image: url(images/splash.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: absolute;
    top: 0;
}

.icons {
    float: left;
    height: 50%;

    padding: 5px;

}




.logo {
    float: left;
    padding: 10px 0;
    width: 20%;
    margin-left: -5%;

}

nav {
    float: right;
    font-size: 20px;
    display: flex;

}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

}


.mid {
    margin-left: 81px;
    margin-right: 81px;
}

nav li {
    display: inline-block;

    padding-top: 25px;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;

}

nav a:hover {}*/
