* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(../IMG-Bank/Images/home/lawaetz_splash.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    background-color: black;
}

/* -------- MOBILE/TABLET START -------- */
/*HEADER - MOBILE/TABLET - START*/
header {
    background-color: rgba(0, 0, 0, 0.6);
    height: 60px;
    display: -ms-grid;
    display: grid;

    grid-template-columns: repeat(12, 1fr);

    grid-template-rows: repeat(1, 1fr);
        grid-template-areas:
        "sprog. . . . logo logo . . . .menubutton"

    ;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 100;
}

/*HEADER - MOBILE/TABLET - END*/
/*MENU - MOBILE/TABLET - START*/
.menubutton {
    cursor: pointer;
    z-index: 99;
    margin: 0px;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-grid-row-align: center;
        align-self: center;
    grid-area: menubutton;

    z-index: 100;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 2px;
    margin: 3px 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    background-color: #efefef;
    z-index: 100;

}

.bar2 {
    margin-left: -8px;
    width: 38px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.kryds .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 6px);
    -ms-transform: rotate(-46deg) translate(-5.5px, 5.5px);
        transform: rotate(-46deg) translate(-5.5px, 5.5px);
    background-color: black;
    z-index: 100;

}

.kryds .bar2 {
    opacity: 0;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.kryds .bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, 6px);
    -ms-transform: rotate(46deg) translate(-5.5px, -6px);
        transform: rotate(46deg) translate(-5.5px, -6px);
    background-color: black;
     z-index: 100;
}

/*MENU - MOBILE/TABLET - SLUT*/
/*NAVBAR - MOBILE/TABLET - START*/
.navbar_mobile {
    display: none;
    position: fixed;
    background-color: rgba(237, 237, 237, 1);
    width: 100%;
    height: 100vh;
    z-index: 50;
    top: 0;
    right: 0%;
    padding-top: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    z-index: 99;
}

.navbar_mobile a {
    width: 20%;
    margin-top: 50px;
    margin-left: 40%;
    margin-right: 40%;
    color: black;
    text-decoration: none;
    font-family: "Playfair Display", Serif;
    font-size: 1.8em;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-transform: uppercase;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    border-bottom: solid .9px transparent;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.navbar_mobile a:hover {
    color: #8D4D42;
    border-bottom: solid .9px #8D4D42;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
}

.kryds .bar1:hover {
    background-color: #8D4D42;
}

/*NAVBAR - MOBILE/TABLET - SLUT*/
/*ENGELSK SPROG - MOBILE/TABLET - START*/
.english {
    grid-area: sprog;
    width: 100%;
    height: 60px;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.english img {
    width: 31px;
    height: 20px;
}

/*NAVBAR - MOBILE/TABLET - SLUT*/
/*LOGO - MOBILE/TABLET - START*/
.logo {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-area: logo;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.logo img {
    width: 180px;
}

/*LOGO - MOBILE/TABLET - slut*/
/*Nav + Ikoner - Desktop = Display None  - start*/
nav {
    display: none;
}

.sociale_ikoner {
    display: none;
}

.search_ikon {
    display: none;
}

/*Nav + Ikoner - Desktop = Display None  - slut*/
/* SOCIALE IKONER - MOBILE/TABLET - START */
.sociale_ikoner2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
    border-bottom: none;
}

.sociale_ikoner2 img {
    opacity: 1;
    width: 27.5px;
    height: 27.5px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    border-bottom: none;
}

.sociale_ikoner2 img:hover {
    opacity: 0.5;
    cursor: pointer;
    border-bottom: none;
    width: 27.5px;
    height: 27.5px;
}

.sociale_ikoner2 a:hover {
    border-bottom: none;
}

/* SOCIALE IKONER - MOBILE/TABLET - SLUT */
/* SØGE FUNKTION - MOBILE/TABLET - START */
.search2 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
}

.search2 img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30px;
    height: 27px;
    opacity: 1;
}

/* SØGE FUNKTION - MOBILE/TABLET - SLUT */
.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: "Playfair Display", serif;
    font-size: 10vw;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    color: white;
    padding-top: 15vw;
    font-family: "Lato", sans-serif;
    font-weight: 200;
    height: 46vw;
}

.click-scroll {
    display: none;
}

.mirror,
.mirror2 {
    -webkit-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
            transform: scale(-1, 1);
}

.name_splash,
.name_splash span {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/* -------- MOBILE/TABLET SLUT -------- */
/*DESKTOP HEADER/NAVBAR - START*/
@media only screen and (min-width: 1280px) {

    /*MENUBAR - START - Bruges til tablet/mobile versio*/
    .menubutton {
        display: none;
    }

    /*MENUBAR - SLUT */
    /*HEADER DESKTOP - START*/
    header {
        /* background-color: rgb(0, 0, 0, 0.8);*/
        height: 100px;
        display: -ms-grid;
        display: grid;
        position: relative;

        grid-template-columns: repeat(12, 1fr);

        grid-template-rows: repeat(4, 1fr);
            grid-template-areas:
            "logo logo . ikoner ikoner . . . . . . ."
            "logo logo . ikoner ikoner . . . nav nav search search"
            "logo logo . ikoner ikoner . . . nav nav search search"
            "logo logo . ikoner ikoner . . . . . . .";
    }

    /*HEADER DESKTOP - SLUT*/
    /*NAVBAR DESKTOP - START*/
    nav {
        grid-area: nav;
        margin: 0;
        margin-left: -40px;
        padding: 0;
        width: 116.5%;
        display: -ms-grid;
        display: grid;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;

        grid-template-columns: repeat(3, 33%);

        grid-template-rows: repeat(1, 1fr);
            grid-template-areas:
            "galleri  om  kontakt"
        ;
    }

    nav a {
        font-size: 20px;
        color: white;
        font-family: 'Playfair Display', serif;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-transition: .4s ease;
        -o-transition: .4s ease;
        transition: .4s ease;
        border-bottom: solid transparent .8px;
        display: inline-block;
    }

    nav a:hover {
        color: #bebebe;
        border-bottom: solid .8px bisque;
        margin-bottom: 10px;
        display: inline-block;

    }

    .galleri {
        grid-area: galleri;
        text-align: center;
    }

    .om {
        grid-area: om;
        text-align: center;
    }

    .kontakt {
        grid-area: kontakt;
        text-align: center;
    }

    /*NAVBAR DESKTOP - START*/
    /*LOGO I HEADER DESKTOP - START*/
    .logo {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
        -ms-grid-column-span: 2;
        grid-area: logo;
        margin-left: 35px;
        width: auto;
        display: -ms-grid;
        display: grid;
    }

    .logo img {
        width: 16vw;
    }

    /*LOGO I HEADER DESKTOP - SLUT*/
    /*SOCIALE IKONER I HEADER DESKTOP - START*/
    .sociale_ikoner {
        grid-area: ikoner;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-item-align: center;
            align-self: center;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        width: 100px;
    }

    .sociale_ikoner img {
        opacity: 0.9;
        width: 27.5px;
        height: 27.5px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
    }

    .sociale_ikoner img:hover {
        opacity: 0.5;
        cursor: pointer;
    }

    /*SOCIALE IKONER I HEADER DESKTOP - SLUT*/
    /*ENGELSK FLAG OG SØGE IKON I HEADER DESKTOP - START*/
    .soeg_sprog {
        grid-area: search;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-item-align: center;
            align-self: center;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        width: 150px;
        margin-left: 20%;
    }

    .search {
        width: 20px;
        height: 20px;
        display: -ms-grid;
        display: grid;
    }

    .search img {
        display: -ms-grid;
        display: grid;
        width: 20px;
        height: 20px;
    }

    .english {
        width: 31px;
        height: 20px;
    }

    .english img {
        width: 31px;
        height: 20px;
    }

    /*ENGELSK FLAG OG SØGE IKON I HEADER DESKTOP - SLUT*/
    .content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 94vh;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        font-family: "Playfair Display", serif;
        font-size: 10em;
        background-color: rgba(0, 0, 0, 0.6);
        text-align: center;
        color: white;
        padding-top: 22vh;
        font-family: "Lato", sans-serif;
        font-weight: 200;
    }

    .content p {
        margin: 0;
    }

    .click-scroll {
        display: -ms-grid;
        display: grid;
        position: absolute;
        bottom: 0%;
        height: 500px;
    }

    .scroll-down p {
        position: absolute;
        bottom: 5%;
        margin: 0;
        color: #9d9d9d;
        opacity: 0.9;
        text-decoration: none;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 400;
        left: 50%;
        margin-left: -25px;
        -webkit-transition: .2s ease-in-out;
        -o-transition: .2s ease-in-out;
        transition: .2s ease-in-out;
    }

    .click-scroll:hover span {
        border-left: 1.4px solid rgba(255, 228, 196, 0.6);
        border-bottom: 1.4px solid rgba(255, 228, 196, 0.6);
    }

    .click-scroll:hover p {
        color: #9d9d9d;
        opacity: 0.6;
    }

    .content a {
        text-decoration: none;
    }

    .scroll-down span {
        position: absolute;
        bottom: 20%;
        left: 50%;
        width: 24px;
        height: 24px;
        width: 48px;
        height: 48px;
        margin-left: -12px;
        border-left: 1.4px solid rgba(221, 221, 221, 0.8);
        border-bottom: 1.4px solid rgba(221, 221, 221, 0.8);
        -webkit-transform: rotateZ(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotateZ(-45deg);
        -webkit-animation: spin 1.5s infinite;
        animation: spin 1.5s infinite;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        -webkit-transition: .2s ease-in-out;
        -o-transition: .2s ease-in-out;
        transition: .2s ease-in-out;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
            opacity: 0;
        }
    }

    @keyframes spin {
        0% {
            -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
                    transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
                    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
            opacity: 0;
        }
    }

    .mirror,
    .mirror2 {
        -webkit-transform: scale(-1, 1);
            -ms-transform: scale(-1, 1);
                transform: scale(-1, 1);
    }

    .name_splash,
    .name_splash span {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }


       #scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color: rgba(123, 72, 136, 0.5);


    text-indent:-9999px;
    display:none;
    border-radius:60px;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color: rgba(255, 255, 255, 0.8);

}

#scroll:hover {
    background-color: rgba(166, 58, 85, 0.4);
    opacity:1;

    -ms-filter:"alpha(opacity=100)";
}
    .logo {
        -ms-grid-row: 1;
        -ms-grid-row-span: 4;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

}
@media only screen and (min-width: 1280px) {
    .galleri {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .om {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    .kontakt {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
}
@media only screen and (min-width: 1280px) {
    nav {
        -ms-grid-row: 2;
        -ms-grid-row-span: 2;
        -ms-grid-column: 9;
        -ms-grid-column-span: 2;
    }
    .logo {
        -ms-grid-row: 1;
        -ms-grid-row-span: 4;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }
    .sociale_ikoner {
        -ms-grid-row: 1;
        -ms-grid-row-span: 4;
        -ms-grid-column: 4;
        -ms-grid-column-span: 2;
    }
    .soeg_sprog {
        -ms-grid-row: 2;
        -ms-grid-row-span: 2;
        -ms-grid-column: 11;
        -ms-grid-column-span: 2;
    }
}

/*DESKTOP HEADER/NAVBAR - END*/
